@import '../../../assets/scss/includes';

.dcp-map-block {
    position: relative;

    &__tabs {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__tab {
        align-items: center;
        background-color: transparent;
        border: 1px solid var(--tab-color);
        color: var(--tab-color);
        display: flex;
        flex: 1;
        font-weight: 500;
        justify-content: center;
        padding: 5px;

        &--selected {
            background-color: var(--tab-color);
            color: white;
        }

        &[data-cpt="risco"] {
            border-top-left-radius: $border-radius--medium;
            --tab-color: #{$color--warning-dark};
        }

        &[data-cpt="apoio"] {
            border-top-right-radius: $border-radius--medium;
            --tab-color: #{$color--primary-pure};
        }
    }

    &__buttons {
        align-items: center;
        bottom: size(0);
        display: flex;
        gap: $gap--medium;
        justify-content: flex-end;
        padding: $padding--medium;
        position: absolute;
        right: size(32);
        z-index: 1;

        a {
            align-items: center;
            border-radius: $border-radius--large;
            display: flex;
            gap: $gap--small;
            padding: $padding--small $padding--medium;
            text-decoration: none;
        }
    }

    &__add-risk {
        background-color: $color--warning-dark;
        color: white;
    }

    &__open-map {
        background-color: white;
        color: black;
        outline: 1px solid black;
    }

    .jeomap {
        background-color: transparent;
        height: size(400);

        canvas {
            border: 1px solid #ddd;
            border-bottom-left-radius: $border-radius--medium;
            border-bottom-right-radius: $border-radius--medium;
        }

        .legend-container {
            display: none;
        }

        .mapboxgl-ctrl-logo {
            display: none;
        }

        // Map zoom controls
        .mapboxgl-ctrl-top-left {
            bottom: size(16);
            left: unset;
            right: size(16);
            top: unset;

            @media screen and (max-width: size(820)) {
                bottom: size(80);
            }
        }
    }
}
