.block-transparencia {
    gap: 32px !important;

    @media (min-width: size(500)) and (max-width: size(768)){
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
    }

    @include mobile{
        display: flex !important;
        flex-direction: column;
    }

    article {
        border-radius: var(--Spacing-space-250, 20px);
        background: var(--Color-Brown-50, #FEFBF9);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
        max-width: size(442);
        width: 100%;

        .post-card__category{
            margin-top: size(14);
            margin-bottom: size(14);

            a{
                background-color: #235540;
                border: #235540;
            }
        }
    }

    .post-card {
        // outros estilos...
        &__image {

            a > img {
                height: 220px;
                border-radius: 20px 20px 0 0;

                @include mobile{
                    height: size(188);
                }
            }
        }

        &__author {
            display: none !important;
        }


        &__title {
            color: $color--secondary-dark!important;
            font-size: size(20) !important;
            font-family: $font-family--primary !important;
            letter-spacing: 0 !important;
            height: auto;
            margin-bottom: $margin--small !important;
        }

        &__excerpt-wrapped {
            display: -webkit-box;
            line-clamp: 2 ;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 3.2em;
            margin-bottom: 8px;
        }

        &__excerpt{
            color: $color--secondary-dark;
            text-overflow: ellipsis;
            font-family: $font-family--primary;
            font-size: size(16);
            font-weight: $font-weight--regular;
            line-height: 1.3;
        }

        &__field:not(.post-card__manual) {
            display: none;
        }

        &__manual {
            display: flex;
            text-align: end;
            justify-content: flex-end !important;
            max-width: 95%;

            a {
                text-decoration: underline;
            }
        }

        &__content {
            gap: 0;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;

            &__adress {
                display: flex;
            }
        }

        &__meta{
            &--manuais{
                hr{
                    @include mobile{
                        display: none;
                    }
                }
            }
        }

        &__category {
            padding-top: size(14) !important;
            padding-bottom: size(14) !important;

            @include mobile {
                display: none;
            }

            .tag{
                align-items: center;
                display: flex;
                gap: $gap--small/2;
                font-size: $font-size--xx-small;
                color: var(--Color-Theme-Light, #F9F3EA);
                font-family: $font-family--primary;
                font-size: size(14);
                font-weight: $font-weight--medium;
                line-height: 1.2;

                &::before {
                    content: '';
                    display: block;
                    width: size(14);
                    height: size(14);
                    background-repeat: no-repeat;

                }

                &--category-boletim-mensal,
                &--category-boletim{
                    &::before{
                        background-image: url('/wp-content/themes/dcp/assets/images/boletim.svg');
                    }
                }

                &--category-relatorio,
                &--category-relatorios{
                    &::before{
                        background-image: url('/wp-content/themes/dcp/assets/images/relatorios.svg');
                    }
                }

                &--category-publicacao{
                    &::before{
                        background-image: url('/wp-content/themes/dcp/assets/images/publicacao.svg');
                    }
                }
            }
        }
    }
}
