//bloco acontece na comunidade da home
.comunidade-header{
    margin-top: size(100);
    padding-inline: $padding--large;

    @include mobile {
        margin-top: unset !important;
        margin-bottom: 0 !important;
    }

    .wp-block-column{
        & > h2{
            font-size: $font-size--x-large;

            @include mobile{
                font-size: size(40);
                text-align: left !important;
                letter-spacing: 1.2px;
                line-height: 1.3;
            }
        }

        & > p{
            color: $color--secondary-dark;
            font-size: $font-size--x-small;
        }
    }

    .wp-block-column:last-child{
        align-items: flex-end;
        display: flex;
        gap: $gap--medium;
        justify-content: flex-end;

        @include mobile{
            align-items: flex-start;
            flex-direction: column;
            gap: 0;
        }

        .wp-block-buttons{
            @include mobile{
                max-width: size(350);
                width: 100%;
            }
        }

        .wp-block-buttons > .wp-block-button{
            @include mobile{
                width: 100%;
            }

            a{
                padding: $padding--small size(20);
                font-size: $font-size--x-small;

                @include mobile {
                    font-size: $font-size--xx-small;
                }

                &:hover{
                    border-color: #0d1d0f;
                    color: #0d1d0f !important;
                }
            }
        }

        .wp-block-buttons:last-child > .wp-block-button > a{
            background-color: $color--primary-pure !important;
            color: $color--high-light !important;

            &:hover {
                background-color: #1a3b1e !important;
            }
        }
    }
}

.acontece-na-comunidade{
    margin-bottom: 0;
    padding-inline: $padding--large;

    @include mobile{
        gap: size(80) !important;
        padding-inline: $padding--small;
    }

    .wp-block-cover__inner-container{
        padding-inline: 0;
    }

    .hacklabr-posts-grid-block {
        @media (min-width: size(500)) and (max-width: size(768)) {
            grid-template-columns: 1fr 1fr;
        }

        .post-card {
            background-color: $color--high-light;
            border-radius: $border-radius--large;
            padding: 1.25rem 1.0rem 0;
            padding-bottom: 0;
            max-width: size(443);
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
            &__image {
                display: none;
            }

            &__content {
                height: 100%;
            }

            &__title {
                font-family: $font-family--primary !important;
                font-size: $font-size--medium;
                font-weight: $font-weight--medium;
                margin-top: 20px;

            }

            &__excerpt {
                font-size: $font-size--x-small;
                font-weight: $font-weight--regular;
            }

            &__divisor {
                margin-top: auto;
                &-line {
                    border-bottom: size(2) solid #C9C6C5;
                    margin-bottom: $margin--medium;
                    margin-top: $margin--medium;
                    width: size(24);
                }
            }

            &__meta,
            &__address {
                align-items: center;
                color: $color--high-dark;
                display: flex;
                font-size: $font-size--xx-small;
                gap: 0.60rem;

                &::before {
                    background-size: contain;
                    background-repeat: no-repeat;
                    content: url('/wp-content/themes/dcp/assets/images/wrapper5.png');
                    display: inline-block;
                    height: 1em;
                    width: 1em;
                }

            }

            .post-card__meta,
            .post-card__datetime {
            display: inline-flex;
            align-items: center;
            vertical-align: middle;
            gap: size(4); // espaçamento entre ícone e texto
            }
            &__address {
                &::before {
                    content: url('/wp-content/themes/dcp/assets/images/wrapper6.png') !important;
                }
            }
        }
    }

}

//card ação

.hacklabr-posts-grid {
    &__load-more-container {
        display: flex;
        justify-content: center;
        margin-top: size(40);
        padding-bottom: size(80);

        @include mobile {
            margin-top: 32px;
            padding-bottom: size(24);
        }
    }

    &__load-more-button {
        display: flex;
        gap: 0.5rem;
        border-radius: 100px;
        padding: 10px 24px;
        background-color: $color--secondary-dark;

        &>img {
            object-fit: contain;
            width: size(16) !important;
        }

        span {
            color: $color--high-light;
        }

        &:disabled {
            background-color: #C9C6C5;

            span {
                color: #93908F;
            }
        }

        @media (min-width: size(500)) and (max-width: size(768)) {
            max-width: inherit !important;
            width: inherit !important;
        }

        @include mobile {
            max-width: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}

.hacklabr-posts-grid-block{
    .post-card{
        &__title,
        &__excerpt-wrapped{
            display: flex;
            color: $color--secondary-dark !important;

            @include mobile{
                height: inherit;
            }

        }

        &__cta {
            border-radius: 0 0 $border-radius--large $border-radius--large;
            display: flex;
            justify-content: flex-end;
            margin-left: -1rem;
            margin-right: -1rem;
            margin-top: $margin--medium;
            padding: size(20);

            &--limpeza {
                background-color: #235540;
            }

            &--reparos {
                background-color: #51B2AF;
            }

            &--cultura,
            &--cultural {
                background-color: #B83D13;
            }

            &--outros {
                background-color: $color--warning-pure;
            }
            &--educacao {
                background-color: #50B15C !important;
            }
            &--incidencia {
                background-color: #FFB300 !important;
            }
            &--solidariedade {
                background-color: #FC7753 !important;
            }
        }

        &__cta-button {
            box-shadow: 0 0 5px rgba( 0,0,0,0.5 );
            background-color: $color--high-light;
            border-radius: $border-radius--large;
            color: $color--secondary-dark;
            display: block;
            max-width: size(201);
            padding: $padding--small;
            text-decoration: none;
            text-align: center;
            width: 100%;
        }

        &__acao-buttons {
            display: none;
        }
    }
}
