//bloco acontece na comunidade da home
.comunidade-header{
    margin-top: size(100);

    .wp-block-column{
        & > h2{
            font-size: 40px;
        }

        & > p{
            color: $color--secondary-dark;
            font-size: 16px;
        }
    }

    .wp-block-column:last-child{
        align-items: flex-end;
        display: flex;
        gap: size(16);
        justify-content: flex-end;

        .wp-block-buttons > .wp-block-button{
            a{
                padding: size(8) size(20);
                font-size: 16px;

                &:hover{
                    background-color: $color--primary-pure;
                    color: $color--high-light !important;
                }
            }
        }
    }
}