//bloco o que reportar da home
.reportar{
    margin-bottom: size(100);
    margin-top: size(100);

    & > h2{
        font-size: 40px;
    }

    .wp-block-columns{
        margin-top: size(46);

        @media (max-width: size(1400)){
            max-width: 1316px;
        }
    }

    .wp-block-columns > .wp-block-column{
        p{
            max-width: 314px;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
