//bloco o que reportar da home
.reportar{
    margin-bottom: size(100);
    margin-top: size(100);
    padding-inline: $padding--large;

    @include mobile {
        margin-top: unset !important;
    }

    & > h2{
        font-size: $font-size--x-large;

        @include mobile {
            font-size: 24px !important;
            line-height: 130%;
            letter-spacing: 1px;
            font-weight: $font-weight--regular !important;
        }
    }

    .wp-block-columns{
        margin-top: size(46);
    }

    .wp-block-columns > .wp-block-column{
        @include mobile{
            flex-basis: size(330) !important;
        }

        .wp-block-image{
            margin-bottom: $margin--medium;

            @include mobile{
                margin: 0;
            }
        }

        p{
            max-width: size(314);
            width: 100%;
            margin-inline: auto;
            margin-top: $margin--small;
        }
    }

    .wp-block-columns:last-child{
        align-items: center !important;
        justify-content: center;

        @include mobile{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: $margin--medium;
        }

        .wp-block-column > .wp-block-buttons{
            display: block;
            max-width: size(251);

            @include mobile {
                top: 0;
                max-width: size(350) !important;
                width: 100%;
            }

            .wp-block-button{
                width: 100%;
            }
        }
    }

    .wp-block-columns:last-child > .wp-block-column{
        .wp-block-buttons > .wp-block-button > a{
            display: flex;
            font-size: $font-size--x-small;
            justify-content: center;
            padding-bottom: $padding--small;
            padding-inline: size(10);
            padding-top: $padding--small;

            & > img{
                object-fit: contain;
            }
        }
    }

    .wp-block-columns:last-child > .wp-block-column:first-child{
        .wp-block-buttons > .wp-block-button > a{
            &:hover{
                filter: brightness(0.8);
                transition: all 0.2s ease-in-out;
            }
        }
    }

    .wp-block-columns:last-child > .wp-block-column:last-child{
        .wp-block-buttons > .wp-block-button > a{
            padding: 6px 10px;
            border-width: 1px;

            &:hover{
                box-shadow: 0 0 5px rgba( 0,0,0,0.5 );
            }
        }
    }

   .slider-mobile {
       display: flex;
       gap: 1rem;
       overflow: visible;

       @include mobile {
           margin-inline: auto;
           max-width: size(330);
           overflow-x: auto;
           padding-bottom: 1rem;
           scroll-snap-type: x mandatory;
           width: 100%;
           -webkit-overflow-scrolling: touch;

           >.wp-block-column {
               box-sizing: border-box;
               flex: 0 0 80%;
               min-width: 80%;
               scroll-snap-align: start;
           }
       }
   }

   .slider-wrapper-dynamic {
       position: relative;
       max-width: 100%;
       display: flex;
       align-items: center;

       @include mobile{
        margin-top: 0;
       }

       .slider-mobile {
           scroll-behavior: smooth;
       }

       .slider-arrow {
           background-color: $color--secondary-dark;
           border: none;
           border-radius: 50%;
           cursor: pointer;
           padding: 0.75rem;
           position: absolute;
           top: 50%;
           transform: translateY(-50%);
           z-index: 10;

           svg {
               display: block;
               width: size(16);
               height: size(16);
           }

           &.left {
               left: -0.5rem;
               transform: translateY(-50%) rotate(0deg);
           }

           &.right {
               right: -0.5rem;
               transform: translateY(-50%) rotate(180deg);
           }
       }

       @media (min-width: 768px) {
           .slider-arrow {
               display: none;
           }
       }
   }

}
