//bloco acontece na comunidade da home
.comunidade-header{
    margin-top: size(100);

    @include mobile {
        margin-top: $margin--large;
    }

    .wp-block-column{
        & > h2{
            font-size: $font-size--x-large;
        }

        & > p{
            color: $color--secondary-dark;
            font-size: $font-size--x-small;
        }
    }

    .wp-block-column:last-child{
        align-items: flex-end;
        display: flex;
        gap: $gap--medium;
        justify-content: flex-end;

        .wp-block-buttons > .wp-block-button{
            a{
                padding: $padding--small size(20);
                font-size: $font-size--x-small;

                @include mobile {
                    font-size: $font-size--xx-small;
                }

                &:hover{
                    border-color: #0d1d0f;
                    color: #0d1d0f !important;
                }
            }
        }

        .wp-block-buttons:last-child > .wp-block-button > a{
            background-color: $color--primary-pure !important;
            color: $color--high-light !important;

            &:hover {
                background-color: #1a3b1e !important;
            }
        }
    }
}

.acontece-na-comunidade{
    margin-bottom: 0;

    @include mobile{
        gap: size(80) !important;
    }

    .wp-block-column:first-child{
        .post-card {
            &__acao-buttons{
                background-color: $color--primary-light;
            }
        }
    }

        .wp-block-column:nth-child(2) {
            .post-card {
                &__acao-buttons {
                    background-color: $color--primary-dark;
                }
            }
        }

    .wp-block-column:last-child {
        .post-card {
            &__acao-buttons {
                background-color: $color--warning-dark;
            }
        }
    }

    .wp-block-column{
        background-color: $color--high-light;
        -webkit-border-top-left-radius: $border-radius--large;
        -webkit-border-top-right-radius: $border-radius--large;
        -moz-border-radius-topleft: $border-radius--large;
        -moz-border-radius-topright: $border-radius--large;
        border-top-left-radius: $border-radius--large;
        border-top-right-radius: $border-radius--large;
        padding: $border-radius--large;

        @include mobile {
            position: relative;
        }

        p:first-child{
            width: size(111);
            font-size: 14px !important;
        }

        p:nth-child(3){
            margin-top: 8px;
        }

        & > p {
            border-radius: size(16);
            color: $color--secondary-dark;
            display: flex;
            gap: $gap--x-small;

            img{
                object-fit: contain;
            }
        }

        .hacklabr-posts-grid-block{
            .post-card{
                &__image{
                    display: none;
                }

                &__title{
                    font-family: $font-family--primary !important;
                    font-size: $font-size--medium;
                    font-weight: $font-weight--medium;
                    margin-top: size(5);
                }

                &__excerpt{
                    font-size: $font-size--x-small;
                    font-weight: $font-weight--regular;
                }

                &__divisor{
                    &-line{
                        border-bottom: size(2) solid $color--high-dark;
                        margin-bottom: $margin--medium;
                        margin-top: $margin--medium;
                        width: size(24);
                    }
                }

                &__meta,
                &__address{
                    align-items: center;
                    color: $color--high-dark;
                    display: flex;
                    font-size: $font-size--xx-small;
                    gap: $gap--x-small;

                    &::before {
                        background-size: contain;
                        background-repeat: no-repeat;
                        content: url('/wp-content/themes/dcp/assets/images/wrapper5.png');
                        display: inline-block;
                        height: 1em;
                        width: 1em;
                    }
                }

                &__acao-buttons {
                    display: none;

                    @include mobile {
                        display: block;
                        bottom: size(-70);
                        border-bottom-left-radius: $border-radius--large;
                        border-bottom-right-radius: $border-radius--large;
                        left: 0;
                        margin-top: $margin--medium;
                        padding: $padding--medium;
                        position: absolute;
                        right: 0;
                    }
                }

                &__acao-button {
                    @include mobile {
                        border-radius: size(16);
                    }

                    & > a {
                        font-size: $font-size--x-small;
                        padding: size(10) size(24);
                        text-decoration: none;
                    }
                }

                &__address{
                        &::before {
                        content: url('/wp-content/themes/dcp/assets/images/wrapper6.png') !important;
                    }
                }
            }
        }
    }

    .wp-block-column:first-child{

        p:first-child{
            background-color: $color--primary-light;
            padding: $padding--x-small size(14);
        }
    }

    .wp-block-column:last-child{

        p:first-child{
            background-color: $color--warning-dark;
            color: $color--high-light;
            padding: $padding--x-small size(14);
        }
    }

    .wp-block-column:nth-child(2){

        p:first-child{
            background-color: $color--primary-dark;
            font-size: $font-size--xx-small !important;
            padding: $padding--x-small size(14);
        }
    }
}

.btn-comunidade{
    margin-bottom: size(145);

    @include mobile {
        display: none !important;
    }

    .wp-block-column{
        -webkit-border-bottom-right-radius: $border-radius--large;
        -webkit-border-bottom-left-radius: $border-radius--large;
        -moz-border-radius-bottomright: $border-radius--large;
        -moz-border-radius-bottomleft: $border-radius--large;
        border-bottom-right-radius: $border-radius--large;
        border-bottom-left-radius: $border-radius--large;

        .wp-block-buttons > .wp-block-button{
            font-size: $font-size--x-small;
            padding: size(10) $padding--medium;
        }
    }

    .wp-block-column:first-child{
        background-color: $color--primary-light;
    }

    .wp-block-column:nth-child(2){
        background-color: $color--primary-dark;
    }

    .wp-block-column:last-child{
        background-color: $color--warning-dark;
    }
}
