//bloco o jacarezinho na home
.jacarezinho{
    margin-top: size(80);
    margin-bottom: size(80);

    @include mobile {
        margin-bottom: $margin--large;
        margin-top: $margin--large;

        @include mobile{
            margin-top: $margin--large*3;
        }
    }

    .wp-block-column{
        p,
        h2{
            color: $color--secondary-dark;
        }

        .wp-block-heading{
            font-size: $font-size--x-large;
        }

        & > p {
            font-size: $font-size--x-small;
        }

        .btn-riscos{
            @include mobile {
                max-width: size(350);
                width: 100%;
            }
        }

        .btn-riscos > .wp-block-button{
            @include mobile{
                width: 100%;
            }
        }

        .btn-riscos > .wp-block-button > a{
            &:hover {
                border: none;
                background-color: $color--high-dark !important;
                color: $color--high-light !important;
            }
        }

        .wp-block-buttons > .wp-block-button{
            a{
                padding: $padding--small size(20);
                font-size: $font-size--x-small;

                &:hover{
                    border-color: $color--high-dark !important;
                    color: $color--high-dark;
                }
            }
        }
    }
}
