.breadcrumb{
    align-items: center;
    display: flex;

    span > a{
        text-decoration: none;
    }

    span > .current-item{
        font-weight: $font-weight--bold;
        text-decoration: underline;
    }
}
