.cards-explore{
    margin-bottom: $margin--large * 2;
    margin-top: $margin--large * 2;

    @include mobile{
        margin-bottom: 0;
        margin-top: 0;
    }

    .wp-block-heading{
        color: $color--secondary-dark;
        font-size: $font-size--x-large  !important;

        @include mobile{
            font-size: $font-size--medium !important;
            text-align: left;
        }
    }

    .wp-block-cover__inner-container > .wp-block-columns:not(:last-child){
        @media (min-width: $break--small) and (max-width: $break--desktop) {
            flex-direction: column;
        }
    }

    .wp-block-columns > .wp-block-column {
        @media (min-width: $break--small) and (max-width: $break--desktop) {
            flex-basis: unset !important;
        }
    }

    .wp-block-cover__inner-container>.wp-block-columns:not(:first-child) {
        @media (min-width: $break--small) and (max-width: $break--desktop) {
            flex-direction: column;
        }
    }

    .wp-block-columns > .wp-block-column > .wp-block-cover{
        border-radius: $border-radius--medium;

        @include mobile {
            padding: $padding--medium;
        }

        .wp-block-columns {
            @include mobile {
                display: grid;
                gap: $gap--small;
                grid-template-columns: auto 1fr;
                align-items: center;
                width: 100%;
            }
        }

        .wp-block-columns > .wp-block-column:first-child {
            @include mobile {
                height: size(72);
                width: size(72);
            }

            .wp-block-image{
                @include mobile{
                    height: size(72);
                    width: size(72);
                }
            }
        }

        p:first-child{
            font-size: size(24) !important;
            font-weight: $font-weight--medium;

            @include mobile{
                font-size: size(22) !important;
            }
        }

        p:nth-child(2){
            margin-top: 0;
            font-size: $font-size--x-small;

            @include mobile{
                display: none;
            }
        }

        p:last-child{
            display: flex;
            margin-top: 0;

            @include mobile{
                justify-content: flex-end;
                margin-top: $margin--medium;
            }

            & > a{
                text-decoration: none;
            }

            & > img{
                object-fit: contain;
            }
        }
    }

    .wp-block-columns > .wp-block-column:last-child > .wp-block-image{
        margin-bottom: size(12);
        margin-top: size(12);

        @include mobile{
            display: none;
        }
    }
}
