.cards-explore{
    margin-bottom: $margin--large * 2;
    margin-top: $margin--large * 2;

    @include mobile{
        margin-bottom: 0;
        margin-top: 0;
    }

    .wp-block-heading{
        color: $color--secondary-dark;
        font-size: $font-size--x-large  !important;
    }

    .wp-block-columns > .wp-block-column > .wp-block-cover{
        border-radius: $border-radius--medium;

        p:first-child{
            font-size: size(24) !important;
            font-weight: $font-weight--medium;
        }

        p:nth-child(2){
            margin-top: 0;
            font-size: $font-size--x-small;
        }

        p:last-child{
            display: flex;
            margin-top: 0;

            & > a{
                text-decoration: none;
            }

            & > img{
                object-fit: contain;
            }
        }
    }

    .wp-block-columns > .wp-block-column:last-child > .wp-block-image{
        margin-bottom: size(12);
        margin-top: size(12);
    }
}
