.post-type-archive-acao {
    .layout-part--header-archive-acao {
        padding-top: size( 110 );
        padding-bottom: size( 10 );
        @include mobile{
            padding-top: $padding--x-large;
        }
        .wp-block-columns{
            @include mobile{
                display: flex;
                flex-direction: column;
                margin-bottom: unset !important;
                .wp-block-column:nth-of-type(1){
                    order: 2;
                    .wp-block-buttons{
                        display: flex;
                        flex-wrap: nowrap !important;
                        gap: 12px;
                        .wp-block-button{
                            width: fit-content;
                        }
                    }
                }
                .wp-block-column:nth-of-type(2){
                    order: 1;
                    margin-bottom: 1%;
                    img{
                        margin-left: 1rem;
                    }
                }
            }
        }
        .wp-block-heading{
            @include mobile{
                font-size: size(24);
                letter-spacing: 1.2px;
            }
        }
        .wp-block-separator{
            max-width: size(1280);
            width: 100%;
            margin-left: auto;
            margin-right: auto;

            @include mobile{
                margin-top: $margin--large !important;
                margin-bottom: $margin--large !important;
                max-width: size(350);
                padding-inline: $padding--medium !important;
            }
        }

        .wp-block-columns > .wp-block-column:nth-of-type(1){
            .mostrar-mais {
                margin-top: size(40);

                .wp-block-button > a{
                    @include mobile{
                        padding: 8px 16px !important;
                        width: 100% !important;
                    }
                }

                .wp-block-button {
                    @include mobile{
                        width: 100% !important;
                    }
                }

                .wp-block-button:nth-of-type(1){
                    @include mobile{
                        flex-basis: 33% !important;
                    }
                }

                .wp-block-button:nth-of-type(2){
                    @include mobile{
                        flex-basis: 67% !important;
                    }
                }
            }
        }
    }

    .archive-acao {
        .proximas-acoes{
            @include mobile{
                padding: unset !important;
            }
        }

        .posts-grid__content{
            justify-items: center;

            &-cards-agendada{
                @media (min-width: size(500)) and (max-width: size(768)) {
                    display: grid !important;
                    grid-template-columns: 1fr 1fr !important;
                }

                .post-card{
                    &__title {
                        color: $color--secondary-dark;
                        font-family: $font-family--primary;
                        font-size: size(20);
                        font-weight: var(--Spacing-space-100, 8);
                        line-height: 1.2;
                    }
                }
            }
        }

    }
    .posts-grid__content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        &-cards-concluidas{
            @media (min-width: size(500)) and (max-width: size(768)) {
                display: grid !important;
                grid-template-columns: 1fr 1fr !important;
            }
        }


        @include mobile{
            margin-top: $margin--large;
        }
    }

    .posts-grid__content-cards-agendada,
    .posts-grid__content-cards-concluidas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        @include tablet{
            grid-template-columns: 1fr 1fr;
        }
        @include mobile{
            grid-template-columns: 1fr;
        }

    }

    .posts-grid__content-cards-agendada{
        margin-top: calc($margin--large + $margin--medium);

        @include mobile{
            margin-top: 0;
        }


        .post-card__image{
            display: none;
        }
        .post-card__content{
            border-radius: $border-radius--large $border-radius--large 0 0;
            justify-content: start;

            @include mobile{
                gap: $gap--small;
                height: auto;
                justify-content: inherit;
            }
        }
        .post-card__title{
            font-size: $font-size--medium;
            color: $color--secondary-dark;

            @include mobile{
                font-size: $font-size--x-small;
            }
        }
        .post-card__excerpt{
            color: $color--secondary-dark;
        }
        .post-card__cta{
            padding: 1.2rem;
            border-radius: 0 0 $border-radius--large $border-radius--large;
            display: flex;
            justify-content: flex-end;
            a{
                text-decoration: none !important;
                padding: $padding--medium $padding--x-large;
                border-radius: $border-radius--large;
            }
        }
        .post-card__acao-buttons, .post-card__author{
            display: none;
        }

        .post-card__meta--default {
            display: none !important;
        }
    }
    .posts-grid{
        &__title {
            font-size: $font-size--medium;
            color: $color--secondary-dark;

            @include mobile {
                font-size: size(24);
            }
        }
    }
    .posts-grid__content-cards-concluidas{

        .post-card{
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
            border-radius: 15px;
            &__title {
                font-size: $font-size--medium;
                color: $color--secondary-dark;

                @include mobile {
                    font-size: $font-size--x-small;
                }
            }

            &__content {
                @include mobile {
                    gap: $gap--small;
                    height: auto;
                    justify-content: inherit;
                }
            }

            &__divisor {
                display: none;
            }

            &__meta--default {
                align-items: flex-end;
                padding-top: 29px;

                @include mobile {
                    padding-top: $padding--medium;
                }
            }
        }


        .post-card__excerpt{
            color: $color--secondary-dark;
        }
        .post-card__acao-buttons, .post-card__author{
            display: none;
        }

        .post-card__cta{
            display: none;
        }

        .post-card__concluir-link{
            display: flex;
            justify-content: flex-end;

            & > a{
                align-items: center;
                display: flex;
                font-size: $font-size--xx-small;
                gap: $gap--x-small;
                text-decoration: underline;
            }
        }
    }
    .load-more-concluir,
    .load-more-agendar {
        margin-bottom: 2rem;
        max-width: fit-content;
        border-radius: size( 50 );
        display: flex;
        padding-left: size( 30 );
        padding-right: size( 30 );
        margin-left: auto;
        margin-right: auto;

        &:hover {
            border: none;
            background-color: $color--high-dark !important;
        }

        &:disabled {
            background-color: #C9C6C5;
            border-color: #C9C6C5;
            color: #93908F;
            cursor: not-allowed;
        }

        @include mobile{
            justify-content: center;
            margin-inline: 0;
            max-width: size(350);
            width: 100%;
        }
    }

    .post-card {
        max-width: size(443);
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;

        &__cta {
            border-radius: 0 0 $border-radius--large $border-radius--large;
            display: flex;
            justify-content: flex-end;
            max-width: size(443) !important;
            margin-inline: auto;
            width: 100%;
            padding: size(20);

            &--limpeza {
                background-color: #235540;
            }
            &--educacao {
                background-color: #50b15c;
            }
            &--incidencia {
                background-color: #ffb301;
            }
            &--solidariedade {
                background-color: #FC7753;
            }

            &--reparos {
                background-color: $color--primary-dark;
            }

            &--cultural,
            &--cultura {
                background-color: $color--warning-dark;
            }

            &--outros {
                background-color: $color--warning-pure;
            }

            & > a{
                padding: $padding--small $padding--medium !important;
            }
        }

        &__cta-button {
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            background-color: $color--high-light;
            border-radius: $border-radius--large;
            color: $color--secondary-dark;
            display: block;
            max-width: size(201);
            padding: $padding--small;
            text-decoration: none;
            text-align: center;
            width: 100%;
        }

        &__acao-buttons {
            display: none;
        }

        &__image {
            img{
                border-radius: 0;
                -webkit-border-top-left-radius: size(16);
                -webkit-border-top-right-radius: size(16);
                -moz-border-radius-topleft: size(16);
                -moz-border-radius-topright: size(16);
                border-top-left-radius: size(16);
                border-top-right-radius: size(16);
            }
        }

        &__content{
            border-radius: 0;
            background-color: $color--high-light;
            -webkit-border-bottom-right-radius: size(16);
            -webkit-border-bottom-left-radius: size(16);
            -moz-border-radius-bottomright: size(16);
            -moz-border-radius-bottomleft: size(16);
            border-bottom-right-radius: size(16);
            border-bottom-left-radius: size(16);
            padding: size(20);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-grow: 1;

            @include mobile{
                gap: 0;
                min-height: inherit;
                height: auto;
            }
        }

        &__title {
            font-family: $font-family--primary !important;
            font-weight: $font-weight--medium;
            margin-top: size(5);
        }

        &__excerpt {
            font-weight: $font-weight--regular;

            @include mobile{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;

                flex-grow: 0;
            }
        }

        &__excerpt-wrapped{
            @include mobile{
                align-items: flex-end;
                display: flex;
            }
        }

        &__excerpt-more {
            display: none;

            @include mobile {
                bottom: size(3);
                cursor: pointer;
                display: inline;
                font-size: $font-size--xx-small;
                position: relative;
                text-decoration: underline;
                white-space: nowrap;
            }
        }

        &__divisor {
            margin-top: auto;
            &-line {
                border-bottom: size(2) solid $color--high-dark;
                margin-bottom: $margin--medium;
                margin-top: $margin--medium;
                width: size(24);
            }
        }

        &__meta,
        &__address {
            color: $color--high-dark;
            display: flex;
            flex-direction: column;
            font-size: $font-size--xx-small;
            gap: $gap--x-small;
        }

        .post-card__datetime{
            display: flex;
            align-items: center;
            gap: 6px;
            color: $color--high-dark;
            font-size: 16px;
            &::before {
                background-size: contain;
                background-repeat: no-repeat;
                content: url('/wp-content/themes/dcp/assets/images/wrapper.svg');
                display: inline-block;
                height: 1em;
                width: 1em;
                position: relative;
                top: -1px;
            }
        }

        &__schedule {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: $gap--x-small;

            &::before {
                background-size: contain;
                background-repeat: no-repeat;
                content: url('/wp-content/themes/dcp/assets/images/wrapper5.png');
                display: inline-block;
                height: 1em;
                width: 1em;
            }
        }

        &__address {
            flex-direction: row !important;
            color: $color--high-dark;
            font-size: 16px;
            gap: 6px;

            &::before {
                content: url('/wp-content/themes/dcp/assets/images/wrapper6.png') !important;
            }
        }

        &__see-in-map{
            display: flex;
            justify-content: flex-end;

            &::after {
                background-size: contain;
                background-repeat: no-repeat;
                content: url('/wp-content/themes/dcp/assets/images/wrapper34.png');
                cursor: pointer;
                display: inline-block;
                height: 1em;
                bottom: size(-2);
                position: relative;
                width: 1em;
            }

            @include mobile{
                margin-top: $margin--medium;
            }
        }

        &__map-button{
            background-color: transparent;
            color: $color--secondary-dark;
            cursor: pointer;
            font-size: $font-size--xx-small;
            font-weight: $font-weight--medium;
            text-decoration: underline;
        }

        &__top-meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
        }

        &__top-date {
            color: $color--high-dark;
        }
    }

    .layout-part--footer-archive-acao {
        padding-bottom: size( 50 );

        .wpcf7 {
            .categoria-acao{
                .wpcf7-form-control{
                    display: flex;
                    gap: 1rem;
                    margin-top: .8rem;

                    @include mobile{
                        flex-wrap: wrap;
                        gap: 0.75rem;
                    }

                    .wpcf7-list-item{
                        @include mobile{
                            white-space: nowrap;
                            width: fit-content;
                        }
                    }
                }
                .wpcf7-form-control-wrap{

                    input{
                        display: none;
                    }
                    .wpcf7-list-item-label{
                        background: $color--high-light;
                        padding: .3rem .8rem;
                        border: 1px solid #000;
                        border-radius: calc($border-radius--large * 5);
                        cursor: pointer;
                        white-space: nowrap;
                    }


                    .wpcf7-list-item-label:hover {
                        background-color: #e0e0e0;
                    }

                    .wpcf7-list-item:focus-within .wpcf7-list-item-label {
                        outline: size(2) solid $color--secondary-dark;
                        outline-offset: size(2);
                    }

                    .wpcf7-list-item-label:active {
                        background-color: #d6d6d6;
                    }

                    input[disabled]+.wpcf7-list-item-label {
                        background-color: #e0e0e0;
                        color: #9e9e9e;
                        border-color: #ccc;
                        cursor: not-allowed;
                    }

                    input:checked+.wpcf7-list-item-label {
                        background-color: $color--secondary-dark;
                        color: $color--high-light;
                        font-weight: $font-weight--regular;
                        border-color: $color--secondary-dark;
                        position: relative;
                        white-space: nowrap;
                    }

                }
            }

            .wpcf7-form {
                .cf7-snackbar {
                    bottom: 45px !important;
                }
            }

            .enviar-acao {
                input{
                    display: inherit;
                }
                .wpcf7-list-item-label{
                    background: transparent;
                    padding: .3rem .3rem;
                    border: none;

                }
            }
        }

        .wp-block-columns > .wp-block-column:first-child{
            .wp-block-heading{
                font-size: size(24);
            }

            & > .p1{
                margin-top: size(312);
                position: relative;
                padding-top: 1.5rem;

                @include mobile{
                    display: none;
                    margin-top: 0;
                }
            }

                & > .p1::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: size(40);
                height: size(1);
                background-color: #ccc;
            }
        }

        .wp-block-columns > .wp-block-column:last-child{
            & > .p1-mobile {
                display: none;


                @include mobile{
                    display: block;
                    position: relative;
                    padding-top: 1.5rem;
                }
            }

            & > .p1-mobile::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: size(40);
                height: size(1);
                background-color: #ccc;
            }
        }
    }
}


