//card recomendações da home
.recomendacoes{
    background-color: $color--high-light;
    border-radius: $border-radius--large;
    max-height: size(200);
    padding: $padding--medium;

    @include mobile {
        max-height: inherit;
    }

    & > p {
        display: flex;
        gap: $gap--small;
        font-size: $font-size--x-small !important;

        & > img{
            object-fit: contain;
        }
    }
}
