//card recomendações da home
.recomendacoes{
    background-color: $color--high-light;
    border-radius: $border-radius--large;
    padding: $padding--medium;

    @include mobile {
        max-height: inherit;
    }

    p:first-child,
    p:last-child{
        border-bottom: none;
    }

    & > p {
        border-bottom: size(1) solid #E6E2E0;
        display: flex;
        gap: $gap--small;
        font-size: $font-size--x-small !important;
        padding-bottom: $padding--small;

        & > img{
            object-fit: contain;
        }
    }
}

.wp-block-columns:has(.recomendacoes){
    margin-bottom: $margin--large * 2;
    padding-inline: $padding--large;

    @include mobile{
        margin-bottom: 0;
    }
}
