#dashboardApoio {

    .apoio__container {
        display: block;
        width: 100%;
        max-width: 100vw;

        @include mobile {
            padding: size( 15 );
        }
        @include tablet {
            padding: size( 15 ) size( 20 );
        }
        @include desktop {
            padding: 0 size( 30 ) size( 30 );
        }
        @include desktop-xlarge {
            padding: 0 size( 40 ) size( 40 );
        }
        @include desktop-xxxlarge {
            padding: 0 size( 40 ) size( 40 );
        }
    }
}
