#dashboardAcoes {
    .dashboard-content-header {

        .is-actions {

            .button {
                margin-left: size( 15 );
                display: inline-block;
                position: relative;

                &.acao {
                    background-color: $color--primary-pure;
                    color: $color--secondary-light;
                }
                &.relato {
                    background-color: $color--secondary-light;
                    color: $color--primary-pure;
                    border: solid 1px $color--primary-pure;

                    @include mobile {
                        text-align: center;
                        width: 38px;
                        height: 38px;
                        line-height: 36px;
                        padding: 0;
                        margin-right: size( 25 );
                        top: 0;

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .dashboard-content-acoes {

        .dashboard-content-cards {

            .post-card {

                &.is-sugestao,
                &.is-agendadas,
                &.is-realizadas,
                &.is-arquivadas {
                    height: size( 340 ) !important;
                }

                &.is-relatos {
                    height: size( 530 ) !important;
                }

                &__term {
                    display: flex;
                    justify-content: space-between;
                }
                &__excerpt-wrapped {

                }
            }

            &__see-more {
                position: absolute;
                width: 100%;
                bottom: 6px;
                @include mobile {
                    display: block;
                    justify-content: initial;
                    align-items: initial;
                }

                .button {
                    @include mobile {
                        text-align: center;
                        display: block;
                    }
                }
            }

            .post-card.is-relatos {
                .post-card__list-infos {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}
