.dashboard {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    transition: all 0.5s 0s ease;



    &__header {
        background-color: $color--secondary-light;
        width: 100%;
        height: 65px;
        padding: size(5) size(40);
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(black, 0.5);

        @include mobile {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
        }
        &__logo {
            display: flex;
            position: relative;

            @include mobile {
                left: -20px;
            }

            a {
                display: block;
                width: 90px;

                @include mobile{
                    width: 35px;
                }

                img {
                    display: block;
                    max-width: initial;
                    width: 100%;
                }
            }
        }
        &__navigation {
            display: flex;
            position: relative;

            ul {

                list-style: none;
                margin: 0;
                padding: 0;

                @include mobile{
                    display: none;
                }

                li {

                    display: inline-block;
                    padding: size(5) size(15);

                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                    &:hover {
                        color: #000;
                    }
                    &:last-child {
                        padding-right: 0;
                    }

                    button {
                        background-color: $color--secondary-dark;
                        color: $color--secondary-light;
                        border-radius: size( 50 );
                    }
                }

            }

            .loading-global {
                display: inline-block;
                padding: size( 10 );
                position: absolute;
                top: 5px;
                right: -37px;
                opacity: 0.3;

                @include mobile {
                    right: 10px;
                }

                img {
                    width: 15px;
                    height: auto;
                }
            }
        }
    }

    &__body {
        display: grid;
        grid-template-columns: auto 1fr;
        min-height: 95vh;

        #btnOpenMenuMobile {
            display: none;
            position: fixed;
            top: 15px;
            right: 5px;
            z-index: 15;

            @include mobile{
                display: block;
            }

            span {
                background-color: $color--secondary-dark;
                display: block;
                width: 25px;
                height: 2px;
                margin-bottom: 6px;
                border-radius: 2px;
                opacity: 1;
                position: relative;
                transition: all 0.4s 0.02s ease;
                transform: translate( 0, 0 ) rotate( 0deg );
            }

            &.is-opened {
                span {
                    background-color: #FFF;
                    opacity: 0;
                    &:first-child {
                        opacity: 1;
                        transform: translate( 5px, 10px ) rotate( 45deg );
                    }
                    &:last-child {
                        opacity: 1;
                        transform: translate( 5px, -5px ) rotate( -45deg );
                    }
                }
            }
        }

    }

    &__sidebar {
        background-color: $color--secondary-dark;
        color: #FFF;
        padding-top: size( 40 );

        @include mobile {
            padding-top: 35px;
            width: 90%;
            height: 100vh;
            border-radius: size( 20 ) 0 0 size( 20 );
            position: fixed;
            top: 0;
            right: 0;
            z-index: 10;
            transform: translateX( 120vw );
            transition: all 0.4s 0.02s ease;

            &.is-show {
                transform: translateX( 0 );
                box-shadow: 0 0 200px rgba(0, 0, 0, 0.9);
            }
        }

        .logo-icon {
            display: block;
            width: 40px;
            height: auto;
            margin: -5px size( 25 ) size( 10 ) size( 30 );
        }

        ul {
            display: block;
            width: 225px;
            list-style: none;
            padding: 0;

            @include mobile {
                width: 80%;
                margin: size( 25 ) size( 35 ) size( 15 ) size( 35 );
            }
            @include desktop {
                width: 235px;
            }
            @include desktop-xxlarge {
                width: 250px;
            }
            @include desktop-xxxlarge {
                width: 300px;
            }

            li {
                padding: 0 0 0 size( 15 );

                @include mobile {
                    padding: 0;
                    border-bottom: solid 1px rgba( 255,255,255,0.3 );
                }
            }

        }

        a {
            color: inherit;
            display: block;
            font-size: size( 18 );
            padding: size(15) size(25);
            text-decoration: none;
            text-underline-offset: size(6);

            @include desktop {
                font-size: size( 20 );
            }
            @include desktop-xxlarge {
                font-size: size( 22 );
            }


            iconify-icon {
                margin-inline-end: size(10);
            }
        }

        .button.is-logout {
            background-color: $color--primary-pure;
            color: #FFF;
            text-align: center;
            width: calc( 100% - 50px );
            padding: size( 7 );
            border-radius: size( 25 );
            position: absolute;
            left: 25px;
            bottom: 25px;
            z-index: 2;
        }

        .dashboard-current a, a:hover {

            & > span {
                text-decoration: underline;
            }
        }
    }

    &__main {
        display: block;
        padding: 0;
        position: relative;
        transition: all 0.5s 0s ease;

        @include mobile {
            padding-top: size( 90 );
        }
        @include tablet {
            padding-top: size( 50 );
        }
        @include desktop {
            padding-top: size( 30 );
        }
        @include desktop-large {
            padding-top: size( 40 );
            max-width: calc( 100vw - 250px );
        }

        .dashboard-content {
            min-height: 75vh;
            position: relative;

            @include mobile {
                width: 100vw;
            }
        }
            .dashboard-content-skeleton {
                width: 100%;
                min-height: 50vh;
                position: relative;

                @include mobile {
                    min-height: 20vh;
                }

                @include tablet {
                    top: 30px;
                }
                @include desktop {
                    top: 40px;
                }
                @include desktop-large {
                    top: 50px;
                }


                svg {
                    position: absolute;
                    margin: auto;
                    width: 100%;
                    top: -25%;
                    left: -15%;

                    @include mobile {
                        top: -20%;
                    }
                }

                #mask {
                    animation: mask 1.8s ease infinite;
                }
                @keyframes mask {
                    from { transform: translateX( 0 ) }
                    to { transform: translateX( 280px ) }
                }
            }
            .dashboard-content-skeleton.is-load-form {
                background-color: $color--secondary-light;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 5;

                svg {
                    position: relative;
                    margin: 0;
                    width: 600px;
                    top: 0;
                    left: 0;
                    height: 200px;
                }
            }
            .dashboard-content-breadcrumb {

                margin: 0;
                padding: 0 0 size( 30 ) 0;

                @include mobile {
                    padding: 0 size( 15 );
                    margin-bottom: size(20);
                }
                @include tablet {
                    padding: 0 size( 20 );
                    margin-bottom: size(23);
                }
                @include desktop {
                    padding: 0 size( 30 );
                    margin-bottom: size(30);
                }
                @include desktop-large {
                    padding: 0 size( 35 );
                    margin-bottom: size(35);
                }
                @include desktop-xxlarge {
                    padding: 0 size( 40 );
                    margin-bottom: size(40);
                }


                .breadcrumb {

                    margin: 0;
                    padding: 0;


                    li {
                        display: inline-block;

                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }
            }
            .dashboard-content-header {
                color: $color--secondary-dark;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include mobile {
                    padding: 0 size( 15 );
                    margin-bottom: size(20);
                }
                @include tablet {
                    padding: 0 size( 20 );
                    margin-bottom: size(23);
                }
                @include desktop {
                    padding: 0 size( 30 );
                    margin-bottom: size(30);
                }
                @include desktop-large {
                    padding: 0 size( 35 );
                    margin-bottom: size(35);
                }
                @include desktop-xxlarge {
                    padding: 0 size( 40 );
                    margin-bottom: size(40);
                }

                &.is-single {
                    width: 100%;
                }

                h1 {
                    font-weight: 400;

                    @include mobile {
                        font-size: size( 20 );
                    }
                    @include desktop {
                        font-size: size( 23 );
                    }
                    @include desktop-large {
                        font-size: size( 26 );
                    }
                    @include desktop-xxlarge {
                        font-size: size( 31 );
                    }
                }

                .button {
                    background-color: $color--warning-dark;
                    color: $color--secondary-light;
                    text-decoration: none;
                    border-radius: size( 50 );

                    @include mobile {
                        margin-right: 0 !important;
                    }

                    &:hover {
                        background-color: $color--primary-pure;
                    }
                }

                .button.is-status {
                    border-radius: size( 10 );
                }

                .button.is-status.is-publish {
                    background-color: $color--primary-pure;
                    color: $color--secondary-light;
                }
                .button.is-status.is-draft {
                    background-color: $color--high-dark;
                    color: $color--high-light;
                }
                .button.is-status.is-pending {
                    background-color: $color--warning-dark;
                    color: $color--high-light;
                }

            }
            .dashboard-content-tabs {
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    background-color: $color--secondary-light;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 0;
                    right: -25px;
                    filter: blur( 12px );
                }

                @include desktop {
                    &::after {
                        right: -30px;
                    }
                }
                @include desktop-xxlarge {
                    &::after {
                        display: none;
                    }
                }

                .tabs__header {
                    border-bottom: 1px solid rgba(0,0,0,0.3);
                    display: flex;
                    justify-content: start;
                    padding: 0;
                    margin: 0;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    position: relative;

                    @include mobile {}
                    @include tablet {}
                    @include desktop {
                        margin: 0 size( 30 );
                        overflow: hidden;
                    }
                    @include desktop-xlarge {
                        margin: 0 size( 35 );
                    }
                    @include desktop-xxlarge {
                        margin: 0 size( 40 );
                    }

                    a {
                        font-weight: 400;
                        font-size: size( 15 );
                        text-transform: uppercase;
                        text-decoration: none;
                        color: inherit;
                        letter-spacing: 0.3px;
                        display: flex;
                        padding: size(7) size(15);
                        position: relative;

                        @include mobile {}
                        @include desktop {
                            font-size: size( 16 );
                        }
                        @include desktop-xlarge {
                            font-size: size( 18 );
                        }

                        &:last-child {
                            margin-right: size( 30 );
                            @include mobile {
                                padding-left: size( 20 );
                            }
                        }

                        iconify-icon {
                            display: block;
                            position: relative;
                            left: -4px;
                            top: 4px;
                        }

                        span {
                            display: block;
                        }
                    }
                    a.is-active {
                        font-weight: 400;

                        &::before {
                            content: '';
                            background-color: $color--secondary-dark;
                            display: block;
                            width: 100%;
                            height: 3px;
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                        }

                    }
                    a.is-notification {
                        font-weight: 500;
                        padding-right: size( 25 );

                        &::after {
                            content: '';
                            background-color: $color--warning-dark;
                            display: block;
                            width: 10px;
                            height: 10px;
                            border-radius: 10px;
                            position: absolute;
                            top: calc( 50% - 5px );
                            right: 8px;
                        }
                    }
                }
                .tabs__panels {
                    display: none;
                    padding: 0 !important;

                    @include tablet {}
                    @include desktop {}
                    @include desktop-large {}

                    .tabs__panel__content {

                        display: block;
                        position: relative;
                        z-index: 1;

                        @include small {
                            display: block;
                        }
                        @include mobile {
                            display: block;
                        }
                        @include tablet {
                            display: block;
                        }

                    }
                    .tabs__panel__pagination {

                        display: none;
                        padding: size(35) 0;

                        ol {

                            text-align: right;
                            list-style: none;
                            margin: 0;
                            padding: 0;

                            //display: flex;
                            //gap: 24px;
                            //
                            //justify-content: space-between;
                            //align-items: center;

                            li {

                                display: inline-block;


                                a {
                                    text-decoration: none;
                                    color: inherit;
                                    padding: size(7) size(15);
                                    border-radius: size( 50 );

                                    &:hover {
                                        background-color: $color--secondary-dark;
                                        color: $color--secondary-light;
                                    }
                                }

                                a.is-active {
                                    border: solid 1px $color--secondary-dark;
                                }

                                a.is-disabled {
                                    cursor: not-allowed;
                                    opacity: 0.5;
                                }

                            }


                        }

                    }

                }
                .tabs__panels.is-active {
                    display: block !important;
                }
            }
            .dashboard-content-cards {
                display: block;
                width: 100%;

                @include mobile {
                    padding: size( 15 );
                    margin-bottom: size(20);
                }
                @include tablet {
                    padding: size( 15 ) size( 20 );
                    margin-bottom: size(23);
                }
                @include desktop {
                    padding: size( 30 );
                    margin-bottom: size(30);
                }
                @include desktop-xlarge {
                    padding: size( 35 );
                    margin-bottom: size(35);
                }
                @include desktop-xxxlarge {
                    padding: size( 40 );
                    margin-bottom: size(40);
                }

                .post-card {
                    background-color: #FFF;
                    font-weight: 400;
                    color: $color--secondary-dark;
                    display: inline-block;
                    width: 100%;
                    max-width: calc( 100% - 25px );
                    min-height: size( 250 );
                    padding: 0;
                    margin: 0 25px 25px 0;
                    border-color: #FEFBF9;
                    border-radius: size( 20 );
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
                    transform: scale( 1 );
                    transition: all 0.5s 0s ease;

                    @include mobile {
                        max-width: 100%;
                        margin: 0 0 25px 0;
                    }
                    @include tablet {
                        max-width: 100%;
                        margin: 0 0 25px 0;
                    }
                    @include desktop {
                        max-width: calc( 49% - 20px );
                    }
                    @include desktop-large {
                        max-width: calc( 33% - 15px );
                        margin: 0 15px 15px 0;
                    }
                    @include desktop-xlarge {}
                    @include desktop-xxlarge {}
                    @include desktop-xxxlarge {
                        max-width: calc( 25% - 20px );
                    }

                    &.is-sugestao {}
                    &.is-agendadas {}
                    &.is-realizadas {}
                    &.is-arquivadas {}
                    &.is-relatos {}

                    .is-edit-post-hover {
                        display: none;
                        position: absolute;
                        top: size( 10 );
                        right: size( 10 );
                    }

                    &:hover {
                        transform: scale(1.05);
                        z-index: 2;

                        .is-edit-post-hover {
                            display: block;
                        }
                    }

                    &__cover {
                        background-color: $color--secondary-dark;
                        height: size( 175 );
                        overflow: hidden;
                        position: relative;

                        img {
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate( -50%, -50% );
                        }
                    }

                    &__term {
                        padding: size( 8 ) size( 18 );

                        span {
                            font-size: size( 13 );
                            display: inline-block;
                            width: auto;
                            max-width: initial;
                            padding: size( 2 ) size( 12 );
                            border-radius: size( 50 );

                            &::before {
                                content: none;
                            }
                        }

                        span.is-alagamento {}
                        span.is-lixo {
                            background-color: $color--highlight-dark;
                        }
                        span.is-bueiro-vazando {
                            background-color: $color--low-dark;
                        }
                        span.is-outros {
                            background-color: $color--high-dark;
                        }

                        span.is-default,
                        span.is-sem-categoria {
                            background-color: $color--secondary-dark;
                            opacity: 0.5;
                            cursor: not-allowed;
                        }

                        div {
                            padding: size( 10 ) 0;
                        }
                    }

                    &__title {
                        font-size: size( 21 );
                        font-weight: normal;
                        line-height: size( 22 );
                        display: block;
                        height: size( 45 );
                        padding: 0 size( 20 );

                        @include mobile {
                            font-size: size( 19 );
                        }

                        span {
                            width: 100%;
                            height: size( 45 );
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* Número de linhas */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &__excerpt-wrapped {
                        height: size( 75 );
                        padding: size( 10 ) size( 20 );
                        margin-bottom: size( 10 );

                        p {
                            font-size: size( 17 );
                            min-height: size( 110 );
                            line-height: size( 18 );

                            display: -webkit-box;
                            -webkit-line-clamp: 4; /* Número de linhas */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            position: relative;

                            @include mobile {
                                font-size: size( 16 );
                            }

                            .read-more {
                                background-color: #FFF;
                                font-size: size( 14 );
                                text-decoration: underline;
                                text-align: right;
                                color: $color--secondary-dark;
                                font-weight: bold;
                                display: block;
                                padding: size( 1 ) size( 5 );
                                position: absolute;
                                right: 0;
                                bottom: -5px;
                                z-index: 2;

                                &:hover {
                                    color: $color--primary-pure;
                                }
                            }

                            .read-more-full {
                                font-size: inherit;
                                display: none;
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }

                    &__list-infos {
                        list-style: none;
                        padding: size( 20 );
                        margin: 0;
                        position: relative;

                        &::before {
                            content: '';
                            background-color: rgba( 0,0,0,0.2 );
                            display: block;
                            width: size( 25 );
                            height: 2px;
                            position: absolute;
                            top: 0;
                            left: size( 25 );
                        }

                        li {
                            font-size: size( 14 );
                            color: $color--high-dark;
                            display: flex;
                            padding: size( 2 ) 0;
                            opacity: 0.8;
                            transition: all 0.4s 0s ease;

                            &:hover {
                                color: $color--secondary-dark;
                                opacity: 1;
                            }

                            i {
                                display: inline-block;
                            }
                            span {
                                display: inline-block;
                                padding: 0 size( 10 );
                            }

                        }

                    }

                    &__assets {
                        background-color: rgba( 0,0,0,0.05 );
                        width: 90%;
                        height: size( 200 );
                        border-radius: size( 15 );
                        padding: size( 10 ) size( 25 ) size( 10 ) size( 25 );
                        margin: 0 size( 20 );
                        overflow: hidden;
                        position: relative;
                        z-index: 1;

                        .slider-thumb-item {

                            width: 100%;
                            height: auto;
                            padding: 0;
                            margin: 0;

                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;

                            img {
                                display: block;
                            }
                            video {
                                display: block;
                            }
                        }
                        .slider-thumb-empty {
                            text-align: center;
                            width: 100%;
                            height: size( 200 );
                            line-height: size( 160 );
                            position: relative;
                            z-index: 1;
                        }

                    }

                    &__see-more {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        min-height: size( 75 );
                        padding: size( 10 ) size( 20 );

                        div {

                            span {
                                font-size: size( 17 );
                                font-weight: bold;
                            }
                            span.is-draft {
                                color: #999;
                            }
                            span.is-publish {
                                color: $color--primary-pure;
                            }
                        }

                        .button {
                            font-size: size( 15 );
                            text-align: center;
                            display: inline-block;
                            padding: size( 10 ) size( 20 ) size( 10 ) size( 25 );

                            @include mobile {
                                display: block;
                                min-width: size( 100 );
                            }
                        }

                        .is-download {
                            background-color: transparent;
                            color: $color--secondary-dark;
                            font-size: size( 13 );
                            padding: 0;
                            border-radius: size( 50 );
                            border: none;

                            &:hover {}

                            span {
                                font-size: size( 13 );
                                font-weight: bold;
                                opacity: 0.5;
                            }
                        }

                        .is-aprovacao {
                            background-color: $color--secondary-dark;
                            color: $color--secondary-light;
                            border-radius: size( 50 );

                            &:hover {}
                        }

                        .is-publicados {
                            background-color: $color--secondary-light;
                            color: $color--warning-dark;
                            border-radius: size( 50 );
                            border: solid 1px $color--warning-dark;

                            &:hover {}
                        }

                        .is-arquivados {
                            background-color: $color--secondary-light;
                            color: $color--secondary-dark;
                            border-radius: size( 50 );
                            border: solid 1px $color--secondary-dark;

                            &:hover {}
                        }



                    }

                }

            }
            .message-response {
                background-color: rgba( 0,0,0,0.04 );
                display: none;
                padding: size( 20 );
                border-radius: size( 15 );
                position: relative;
                z-index: 1;
            }
    }
}

.loading .dashboard {
    &__main {
        opacity: 0.7;
        cursor: wait;
    }
}
