#dashboardRiscos {
    min-height: 75vh;
    position: relative;

    .dashboard-content-header {

        .button {
            display: inline-block;
            position: relative;

            @include mobile {
                text-align: center;
                width: 38px;
                height: 38px;
                line-height: 36px;
                padding: 0;
                margin-right: size( 25 );
                top: 2px;

                span {
                    display: none;
                }
            }
        }

    }

    .dashboard-content-tabs {
        .tabs__header {
            a {
                &:first-child {
                    min-width: 200px;

                    @include desktop {
                        min-width: 230px;
                        margin-right: size( 20 );
                    }
                    @include desktop-xxlarge {
                        min-width: 315px;
                        margin-right: size( 30 );
                    }
                }
            }
        }
    }

    .dashboard-content-cards {

        .post-card {
            padding-top: size( 10 );
            padding-bottom: size( 10 );

            &__excerpt-wrapped {

                margin-bottom: 0;

                //p {
                //    min-height: size(50);
                //}

            }

            &__term {
                padding: size(8) size(18) size(5);
            }

            &__risco-meta {
                font-weight: 500;
                padding: size( 1 ) size( 18 );
                opacity: 0.5;
            }

            &__see-more {

                @include mobile {
                    display: block;
                    justify-content: initial;
                    align-items: initial;
                }

                .button {

                    @include mobile {
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
}
