#dashboardIndicadores {
    .dashboard-content-home {

        hr {
            margin-top: size( 75 );
            margin-bottom: size( 75 );
        }

        .dashboard-content-header {
            display: block;

            h1 {
                text-transform: uppercase;
                font-weight: 400;
            }
        }
        .dashboard-content-section {
            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: size( 25 ) size( 10 );

                @include mobile {
                    padding: 0 size( 15 );
                    margin-bottom: size(20);
                }
                @include tablet {
                    padding: 0 size( 20 );
                    margin-bottom: size(23);
                }
                @include desktop {
                    padding: 0 size( 30 );
                    margin-bottom: size(10);
                }
                @include desktop-large {
                    padding: 0 size( 35 );
                    margin-bottom: size(15);
                }
                @include desktop-xxlarge {
                    padding: 0 size( 40 );
                    margin-bottom: size(10);
                }

                h2 {
                    font-size: size( 20 );
                    text-transform: uppercase;
                    font-weight: 400;
                    line-height: size( 22 );
                    margin-bottom: size( 20 );

                    @include mobile {
                        font-size: size( 16 );
                        width: 60%;
                        line-height: size( 18 );
                        margin-bottom: size( 10 );
                    }
                }

            }
            &-body {

                .cards {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 25px;

                    @include mobile {
                        display: block;
                        padding: 0 size( 15 );
                        margin-bottom: size(20);
                    }
                    @include tablet {
                        display: block;
                        padding: 0 size( 20 );
                        margin-bottom: size(23);
                    }
                    @include desktop {
                        padding: 0 size( 30 );
                        margin-bottom: size(30);
                    }
                    @include desktop-large {
                        padding: 0 size( 35 );
                        margin-bottom: size(35);
                    }
                    @include desktop-xxlarge {
                        padding: 0 size( 40 );
                        margin-bottom: size(40);
                    }

                    .card {
                        background-color: #FFF;
                        font-weight: 300;
                        color: $color--secondary-dark;
                        display: inline-block;
                        flex: 1 1 calc(33.333% - 10px);
                        min-width: 200px;
                        width: auto;
                        min-height: size( 100 );
                        padding: 0;
                        margin: 0;
                        border-color: #FEFBF9;
                        border-radius: size( 20 );
                        position: relative;
                        z-index: 1;
                        overflow: hidden;
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
                        transform: scale( 1 );
                        transition: all 0.5s 0s ease;

                        @include mobile {}
                        @include tablet {
                            display: block;
                            width: 100%;
                            margin-bottom: size( 20 );
                        }

                        .is-chart-filter {
                            padding: size( 20 );
                            position: relative;

                            header {
                                display: flex;
                                justify-content: space-between;

                                select {
                                    font-size: size( 13 );
                                    color: $color--secondary-dark;
                                    width: 100%;
                                    padding: size( 5 ) size( 10 ) 0;
                                    border-radius: size( 15 );
                                    border: none;
                                    position: relative;
                                    z-index: 1;
                                    opacity: 1;
                                    //appearance: none;
                                    transition: all 0.4s 0s ease;
                                }
                            }

                            #optionsFilter {
                                background-color: #FFF;
                                font-weight: 400;
                                color: $color--secondary-dark;
                                display: none;
                                width: auto;
                                min-height: size( 50 );
                                padding: size( 25 );
                                margin: 0;
                                border-color: #FEFBF9;
                                border-radius: size( 20 );

                                position: absolute;
                                top: 100px;
                                left: 0;
                                right: 0;
                                z-index: 5;

                                overflow: hidden;
                                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);

                                transform: scale( 1 );
                                transition: all 0.5s 0s ease;

                                form {
                                    padding-top: size( 20 );

                                    p {
                                        label {
                                            input {

                                            }
                                        }
                                    }
                                }

                            }

                        }
                        .is-counter {
                            padding: size( 30 );

                            h3 {
                                font-size: size( 50 );
                                font-weight: 500;
                                margin-top: size( 40 );
                            }
                            p {
                                font-size: size( 15 );
                            }
                        }

                        .is-chart-filter {
                            .is-counter {
                                padding: size( 20 ) size( 30 ) size( 5 );
                                @include tablet {
                                    padding: size( 20 ) size( 5 ) size( 5 );
                                }
                                h3 {
                                    color: #235540;
                                    font-size: size( 70 );
                                    margin-top: 0;
                                }
                            }
                        }
                    }

                    &--3 {
                        .card {
                            flex: 1 1 calc(33.333% - 25px);
                        }
                    }

                    &--4 {
                        .card {
                            flex: 1 1 calc(25% - 25px);
                        }
                    }

                    &--5 {
                        .card {
                            flex: 1 1 calc(20% - 25px);
                        }
                    }

                    .card-group {
                        display: flex;
                        gap: size( 15 );
                        justify-content: space-between;
                        width: 33%;

                        @include mobile {
                            width: 100%;
                            padding-top: size( 15 );
                            padding-bottom: size( 50 );
                            border-bottom: solid 2px rgba( 0,0,0,0.3 );
                            margin-bottom: size( 50 );
                        }
                        @include tablet {
                            width: 100%;
                            padding-top: size( 15 );
                            padding-bottom: size( 50 );
                            border-bottom: solid 2px rgba( 0,0,0,0.3 );
                            margin-bottom: size( 50 );
                        }

                        .card {
                            width: 50%;
                        }
                    }

                }
            }
        }
    }
}
