#dashboardAcoes {

    .dashboard-content-header {

        .is-actions {

            .button {
                margin-left: size( 15 );
                display: inline-block;
                position: relative;

                &.acao {
                    background-color: $color--primary-pure;
                    color: $color--secondary-light;
                }
                &.relato {
                    background-color: $color--secondary-light;
                    color: $color--primary-pure;
                    border: solid 1px $color--primary-pure;

                    @include mobile {
                        text-align: center;
                        width: 38px;
                        height: 38px;
                        line-height: 36px;
                        padding: 0;
                        margin-right: size( 25 );
                        top: 0;

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .dashboard-content-tabs {
        .tabs__header {
            a {
                &:last-child {
                    @include desktop {
                        min-width: 225px;
                        margin-right: size( 20 );
                    }
                    @include desktop-xxlarge {
                        min-width: 315px;
                        margin-right: size( 30 );
                    }
                }
            }
        }
    }

    .dashboard-content-acoes {

        .dashboard-content-cards {

            .post-card {

                &__term {
                    display: flex;
                    justify-content: space-between;

                    //span {
                    //    font-size: size( 14 );
                    //    display: inline-block;
                    //    width: auto;
                    //    max-width: initial;
                    //    padding: size( 2 ) size( 15 ) ;
                    //    border-radius: size( 50 );
                    //}
                }
                &__excerpt-wrapped {
                    //p {
                    //    min-height: size(25);
                    //}
                }
            }

        }

    }
}
