#dashboardAcoes {
    .dashboard-content-header {

        .is-actions {

            .button {
                margin-left: size( 15 );
                display: inline-block;
                position: relative;

                &.acao {
                    background-color: $color--primary-pure;
                    color: $color--secondary-light;
                }
                &.relato {
                    background-color: $color--secondary-light;
                    color: $color--primary-pure;
                    border: solid 1px $color--primary-pure;

                    @include mobile {
                        text-align: center;
                        width: 38px;
                        height: 38px;
                        line-height: 36px;
                        padding: 0;
                        margin-right: size( 25 );
                        top: 0;

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .dashboard-content-acoes {

        .dashboard-content-cards {

            .post-card {
                &__term {
                    display: flex;
                    justify-content: space-between;
                }
                &__excerpt-wrapped {

                }
            }

            .post-card.is-relatos {
                .post-card__content {
                    max-height: 575px;
                }
                .post-card__list-infos {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}
