#dashboardInicio {

    .dashboard-content-home {


        .dashboard-content-header {
            display: block;
        }

        .dashboard-content-section {


            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: size( 25 ) size( 10 );

                @include mobile {
                    padding: 0 size( 15 );
                    margin-bottom: size(20);
                }
                @include tablet {
                    padding: 0 size( 20 );
                    margin-bottom: size(23);
                }
                @include desktop {
                    padding: 0 size( 30 );
                    margin-bottom: size(10);
                }
                @include desktop-large {
                    padding: 0 size( 35 );
                    margin-bottom: size(15);
                }
                @include desktop-xxlarge {
                    padding: 0 size( 40 );
                    margin-bottom: size(10);
                }

                h2 {
                    font-size: size( 20 );
                    text-transform: uppercase;
                    font-weight: 600;
                    line-height: size( 22 );

                    @include mobile {
                        font-size: size( 16 );
                        width: 60%;
                        line-height: size( 18 );
                    }
                }

                .button {
                    background-color: transparent;
                    color: $color--secondary-dark;
                    text-decoration: none;
                    padding: size( 11 ) size( 20 );
                    border: solid 1.5px $color--secondary-dark;
                    border-radius: size( 50 );
                    display: flex;
                    position: relative;
                    z-index: 2;

                    &:hover {
                        background-color: $color--secondary-dark;
                        color: $color--secondary-light;
                    }

                }
            }

            &-body {

                .header-cards {
                    display: flex;
                    justify-content: space-between;

                    @include mobile {
                        display: block;
                        padding: 0 size( 15 );
                        margin-bottom: size(20);
                    }
                    @include tablet {
                        display: block;
                        padding: 0 size( 20 );
                        margin-bottom: size(23);
                    }
                    @include desktop {
                        padding: 0 size( 30 );
                        margin-bottom: size(30);
                    }
                    @include desktop-large {
                        padding: 0 size( 35 );
                        margin-bottom: size(35);
                    }
                    @include desktop-xxlarge {
                        padding: 0 size( 40 );
                        margin-bottom: size(40);
                    }

                    .card {
                        background-color: #FFF;
                        font-weight: 300;
                        color: $color--secondary-dark;
                        display: inline-block;
                        width: 17.5%;
                        min-height: size( 100 );
                        padding: 0;
                        margin: 0;
                        border-color: #FEFBF9;
                        border-radius: size( 20 );
                        position: relative;
                        z-index: 1;
                        overflow: hidden;
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
                        transform: scale( 1 );
                        transition: all 0.5s 0s ease;

                        @include small {
                            display: block;
                            width: 100%;
                        }
                        @include mobile {
                            display: block;
                            width: 100%;
                        }
                        @include tablet {
                            display: block;
                            width: 100%;
                        }

                        &:first-child {
                            width: 65%;

                            @include small {
                                display: block;
                                width: 100%;
                            }
                            @include mobile {
                                display: block;
                                width: 100%;
                            }
                            @include tablet {
                                display: block;
                                width: 100%;
                            }
                        }

                        header {
                            background-color: $color--theme-warning;
                            font-size: size( 18 );
                            display: flex;
                            gap: size( 20 );
                            padding: size( 15 ) size( 20 );


                            &.normal{
                                background-color: $color--primary-light;
                            }

                            &.atencao{
                                background-color: $color--warning-pure;
                            }

                            &.perigo{
                                background-color: $color--secondary-pure
                            }

                            figure {

                                display: block;
                                width: size( 50 );

                                @include mobile {

                                }

                                img {
                                    display: block;
                                    width: 100%;
                                }
                            }
                            div {
                                display: flex;
                                gap: size( 40 );

                                @include mobile {
                                    display: block;
                                }

                                p {
                                    font-weight: 400;
                                    strong {
                                        font-weight: 600;
                                        text-transform: uppercase;
                                    }

                                }
                            }
                        }

                        article {
                            display: flex;
                            gap: size( 20 );
                            justify-content: space-between;
                            padding: size( 15 ) size( 20 );

                            p {
                                strong {
                                    font-weight: 600;
                                }
                                span {
                                    &.is-separator {
                                        font-size: size( 20 );
                                        font-weight: bold;
                                        display: inline-block;
                                        opacity: 0.3;
                                        position: relative;
                                        top: 3px;
                                    }
                                }
                            }
                        }

                        .is-counter {
                            padding: size( 5 ) size( 25 );

                            h3 {
                                font-size: size( 50 );
                            }
                            p {
                                font-size: size( 15 );
                            }
                        }

                    }

                    .card-group {
                        display: flex;
                        gap: size( 15 );
                        justify-content: space-between;
                        width: 33%;

                        @include mobile {
                            width: 100%;
                            padding-top: size( 15 );
                            padding-bottom: size( 50 );
                            border-bottom: solid 2px rgba( 0,0,0,0.3 );
                            margin-bottom: size( 50 );
                        }
                        @include tablet {
                            width: 100%;
                            padding-top: size( 15 );
                            padding-bottom: size( 50 );
                            border-bottom: solid 2px rgba( 0,0,0,0.3 );
                            margin-bottom: size( 50 );
                        }

                        .card {
                            width: 50%;
                        }
                    }

                }

            }
        }

    }

    .dashboard-content-cards {
        .post-card {
            padding-top: size( 10 );
            padding-bottom: size( 5 );

            &__risco-meta {
                font-weight: 500;
                padding: size( 1 ) size( 18 );
                opacity: 0.5;
            }

            &__excerpt-wrapped {

                margin-bottom: 0;

            }

        }
    }
}
