.dcp-map-legend {
    bottom: 50%;
    flex-direction: column;
    display: flex;
    gap: $gap--large;
    position: absolute;

    &__mobile > &__modal{
        article > section > .dcp-map-legend__list--list-mobile{
            margin-bottom: $margin--small;

            .dcp-map-legend__item{
                margin-bottom: 0;
            }

            .dcp-map-legend__item > button > span{
                display: inline-block;
                background-color: transparent;
                white-space: nowrap;
                margin-left: size(40);
                font-size: size(16);
            }
        }

        article > section > .dcp-map-legend__list > .dcp-map-legend__item > span{
            display: inline-block;
            background-color: transparent;
            margin-left: 0;
        }
    }

    &__alagamento {

        & > button {
            align-items: center;

            & > img {
                height: size(20);
                min-width: size(35);
            }
        }
    }

    &__alagamento-nivel5 {
        background-color: #E33131;
        border-radius: 0 0 size(8) size(8);
        height: size(26);
        width: size(35);

        &:focus-within, &:hover {
            background-color: #CC2C2C;
        }

        & > button {
            background-color: #E33131;
        }
    }

    &__alagamento-nivel4 {
        background-color: #F5891D;
        height: size(26);
        width: size(35);

        &:focus-within, &:hover {
            background-color: #DC7B1A;
        }

        & > button {
            background-color: #F5891D;
        }
    }

    &__alagamento-nivel3 {
        background-color: #FFE74D;
        height: size(26);
        width: size(35);

        &:focus-within, &:hover {
            background-color: #E6D045;
        }

        & > button {
            background-color: #FFE74D;
        }
    }

    &__alagamento-nivel2 {
        background-color: #B3DE4E;
        height: size(26);
        width: size(35);

        &:focus-within, &:hover {
            background-color: #A1C846;
        }

        & > button {
            background-color: #B3DE4E;
        }
    }

    &__alagamento-nivel1 {
        background-color: #76BF53;
        border-radius: size(8) size(8) 0 0;
        height: size(26);
        width: size(35);

        &:focus-within, &:hover{
           background-color:#6AAC4B;
        }

        & > button {
            background-color: #76BF53;
        }
    }

    // &--desktop {
    //     @include mobile {
    //         display: none !important;
    //     }
    // }

    &--mobile {
        margin-top: size(5);
        margin-bottom: size(5);

        @include mobile-up {
            display: none !important;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: size(10);
        position: relative;
        top: size(125);

        @include mobile{
            top: size(170);
        }

        &--apoio{
            gap: $gap--x-small;

            .dcp-map-legend__item > span{
                margin-left: inherit !important;
                color: $color--high-light;
            }
        }

        &--icons{
            gap: $gap--x-small;

            .dcp-map-legend__item > span{
                margin-left: inherit !important;
                color: $color--high-light;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: $gap--small;
        min-height: size(30);

        button {
            background-color: transparent;
            display: flex;
            cursor: pointer;
            gap: $gap--small;
            height: 100%;
            padding: 0;
            width: 100%;
        }

        &--dicas-toggle {
            position: relative;
            top: size(10);

            @include mobile{
                position: unset;
            }
        }

        img {
            width: size(35);
            height: size(35);
            max-width: none;
            object-fit: contain;

            @include mobile {
                width: size(30);
                height: size(30);
            }
        }

        span {
            border-radius: size(8);
            color: $color--secondary-dark;
            display: none;
            font-size: $font-size--xx-small;
            font-weight: $font-weight--regular;
            padding: size(4) size(12);

            @include mobile {
                height: fit-content;
                white-space: nowrap;

                &:focus-within, &:hover {
                    display: inline-block;
                }
            }
        }

        &:focus-within, &:hover {

            span {
                display: inline-block;
                margin-left: size(15);
                white-space: nowrap;
            }
        }

        &--alagamento {
            background-color: #B83D13;
            color: $color--high-light;

            &-nivel1,
            &-nivel2,
            &-nivel3,
            &-nivel4,
            &-nivel5 {
                @include mobile{
                    margin-left: size(40);
                }
            }
        }

        &--dicas {
            padding-left: size(12);
            position: absolute;
            top: 53%;
            left: 0%;
            width: fit-content;

            @include mobile {
                padding-left: size(10);
                top: 50%;
            }

            & > button {
                background-color: transparent;
                cursor: pointer;
                padding: 0;

                & > img {
                    height: auto;
                    max-width: size(30);
                    width: 100%;
                }
            }
        }

        &--alagamento-nivel5 {
            background-color: #E33131;
        }

        &--alagamento-nivel4 {
            background-color: #F5891D;
        }

        &--alagamento-nivel3 {
            background-color: #FFE74D;
        }

        &--alagamento-nivel2 {
            background-color: #B3DE4E;
        }

        &--alagamento-nivel1 {
            background-color: #76BF53;
        }

        &--lixo {
            background-color: #FC7753;
            color: $color--secondary-dark;
        }

        &--outros {
            background-color: #FFB300;
            color: $color--secondary-dark;
        }

        &--seguros {
            background-color: #235540;
        }

        &--cacambas {
            background-color: #35763d;
        }

        &--iniciativas {
            background-color: #367674;
        }
    }

    &__modal {
        background-color: $color--secondary-light;
        border: none;
        border-radius: size(12) size(12) 0 0;
        height: auto;
        margin: 0;
        max-width: 100vw;
        min-height: size(240);
        padding-bottom: size(24);
        padding-inline: $padding--medium;
        padding-top: $padding--medium;
        position: fixed;
        top: size(360);
        width: 100vw;

        article > section{
            @include mobile{
                position: relative;
                top: size(-130);
                width: 80%;
            }
        }

        article > section > .dcp-map-dicas__list{
            &--list-mobile{
                .dcp-map-legend__item{
                    margin-bottom: 0;
                }
            }

            &--list-dicas{
                top: size(-15);
                left: -2%;
            }
        }

        &-close {
            background-color: transparent;
        }

        article > section > .dcp-map-legend__list {
            @include mobile{
                display: block;
            }
        }

        .dcp-map-legend__item {
            align-items: center;
            border-bottom: size(1) solid #E6E2E0;
            padding-bottom: $padding--medium;
            margin-bottom: size(12);

            &:last-child {
                border-bottom: unset;
            }
        }

        article > header{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom: $margin--medium;

            & > h5{
                align-items: center;
                display: flex;
                gap: $gap--small;
                white-space: nowrap;
                color: var(--Color-Theme-Dark, #281414);
                font-family: var(--Typeface-Font-Gabarito, Gabarito);
                font-size: $font-size--xx-small;
                font-weight: $font-weight--regular;
                line-height: 1.3;

                & > img{
                    height: auto;
                    max-width: size(16);
                    width: 100%;
                }
            }
        }
    }
}

.risco .dcp-map-legend-apoio__mobile{
    top: size(-45);
}

.risco .dcp-map-legend__list--icons{
    @include mobile{
        top: size(140) !important;
    }
}

.risco .dcp-map-legend__list--apoio{
    @include mobile{
        top: size(137) !important;
    }
}

.dcp-map-legend__list--apoio{
    @include mobile{
        top: size(170);
    }
}

.risco .dcp-map-legend__item--dicas-toggle{
    top: size(3);
}

.dcp-map-footer {
    align-items: center;
    display: flex;
    gap: 1ch;
    padding: size(4) size(8);

    @include mobile-up {
        background-color: hsla(0, 0%, 100%, 0.75);
        bottom: 0;
        left: 0;
        position: absolute;
        width: fit-content;
    }
}

.risco .dcp-map-legend{
    &__list{
        top: size(80);

        @include mobile{
            top: size(112);
        }
    }
}

.dcp-map-dicas {
    &__modal {
        background: $color--high-light;
        border: none;
        border-radius: size(12);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
        left: 50%;
        margin: 0;
        max-width: size(720);
        opacity: 0;
        padding: size(24);
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.25s ease;
        width: 90%;
        z-index: 9999;

        @include mobile{
            min-height: size(590);
            height: auto;
            max-width: size(360);
            width: 100%;
        }

        &[open] {
            opacity: 1;
        }

        &::backdrop {
            background: rgba(0, 0, 0, 0.4);
        }

        & > article > section > .dcp-map-dicas__list > .dcp-map-dicas__list--list-dicas{
            top: size(-17);
            left: -2%;
            width: 80%;

            .dcp-map-legend__item > button > span{
                display: inline-block;
                background-color: transparent;
                white-space: nowrap;
                margin-left: size(40);
                font-size: size(16)
            }
        }

        & > article > header{
            align-items: center;
            border-bottom: size(1) solid #E6E2E0;
            display: flex;
            justify-content: space-between;
            margin-bottom: size(24);
            padding-bottom: size(24);

            & > button{
                background-color: transparent;
                cursor: pointer;
            }
        }
    }

    &__text{
        display: flex;
        align-items: center;
        gap: $gap--small/2;

        @include mobile{
            align-items: unset;
            flex-direction: column;
        }
    }

    &__item{
        align-items: center;
        display: flex;
        gap: $gap--small;

        &-zonas{
            font-size: size(16);
            font-weight: $font-weight--medium;
            line-height: 1.2;
        }

        &--alagamento{
            color: #7A280C;
        }

        &--lixo{
            color: #A70;
        }
    }

    &__list{
        list-style: none;
        padding-left: 0;


        &--first,
        &--zonas{
            border-bottom: size(1) solid #E6E2E0 ;
            display: flex;
            flex-direction: column;
            gap: size(12);
            margin-bottom: size(24);
            padding-bottom: size(24);
            padding-left: 0;
        }

        &--second{
            @include mobile{
                display: flex;
                flex-direction: column;
                gap: size(12);
            }
        }

        &--second > .dcp-map-dicas__item > .dcp-map-dicas__text{
            & > h5{
                color: $color--secondary-dark;
                font-family: $font-family--primary;
                font-size: size(16);
                font-weight: $font-weight--medium;
                line-height: 1.2;
            }

            & > span {
                color: $color--secondary-dark;
                font-size: size(14);
                font-weight: $font-weight--regular;
                line-height: 1.3;
            }
        }
        &--second,
        &--first{
            & > ul{
                padding-left: 0;
            }
        }

        &--first > .dcp-map-dicas__item > .dcp-map-dicas__text{

            & > h5{
                color: $color--secondary-dark;
                font-family: $font-family--primary;
                font-size: size(16);
                font-weight: $font-weight--medium;
                line-height: 1.2;
            }

            & > span {
                color: $color--secondary-dark;
                font-size: size(14);
                font-weight: $font-weight--regular;
                line-height: 1.3;
            }
        }
    }

    &__title{
        align-items: center;
        display: flex;
        gap: $gap--small;

        & > img{
            height: auto;
            max-width: size(18);
            width: 100%;
        }

        & > h5 {
            color: $color--secondary-dark;
            font-family: $font-family--primary;
            font-size: size(20);
            font-weight: var(--Spacing-space-100, 8);
            line-height: 1.2;
        }
    }
}

.apoio-only {
    display: flex;
}

.risco-only {
    display: flex;
}

.desktop-only {
    @include tablet{
        display: none;
    }

    @include mobile{
        display: none;
    }
}
