.dcp-map {
    position: relative;

    .mapboxgl-map > .mapboxgl-control-container > .mapboxgl-ctrl-bottom-left{
        display: none !important;
    }

    &__buttons{
        bottom: size(64) !important;

        @include mobile {
            bottom: size(72) !important;
        }
    }

    &__tabs-container {
        display: flex;
        justify-content: center;
        margin: auto;
        position: absolute;
        top: size(16);
        width: 100%;
        z-index: 1;
        @include mobile {
            padding: 0px 12px;
            width: 99%;
        }
    }

    &__tabs {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 682px;
        margin-left: 13px;
        @include mobile {
            margin-left: 2px;
        }

    }

    &__tab {
        align-items: center;
        background-color: $color--secondary-light;
        border: 1px solid $color--secondary-dark;
        color: $color--secondary-dark;
        display: flex;
        flex: 1;
        font-weight: 500;
        justify-content: center;
        padding-top: 12px;
        padding-bottom: 12px;

        &--selected {
            background-color: var(--tab-color);
            color: white;
        }

        &[data-cpt="risco"] {
            border-bottom-left-radius: $border-radius--large;
            border-top-left-radius: $border-radius--large;
            --tab-color: #B83D13;
             cursor: pointer;
              &:hover {
                opacity: 0.9;
                transition: opacity 0.2s;
            }
        }

        &[data-cpt="apoio"] {
            border-bottom-right-radius: $border-radius--large;
            border-top-right-radius: $border-radius--large;
            --tab-color: #{$color--primary-pure};
             cursor: pointer;
              &:hover {
                opacity: 0.9;
                transition: opacity 0.2s;
            }
        }
    }

    &__form-container {
        display: flex;
        justify-content: center;
        margin: auto;
        position: absolute;
        top: size(64);
        width: 100%;
        z-index: 1;
    }

    &__form {
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: calc(100% - 2rem);
        width: 43.6rem;
        margin-top: 16px;
        @include mobile {

        }

        input, button {
            border: 1px solid #281414;
            height: 100%;
            padding: $padding--small $padding--medium;
            cursor: pointer;
        }

        input {
            border-bottom-left-radius: $border-radius--large;
            border-top-left-radius: $border-radius--large;
            flex: 1;
            padding-left: 40px;
            padding-top: 12px;
            padding-bottom: 12px;

            @include mobile {
                padding-left: 1rem;
            }
        }
        input::placeholder {
            color: #281414; /* Altere para a cor desejada */
        }
        #icon-input{
            position: relative;
            left: 29px;
            @include mobile {
                display: none;
            }
        }
        button {
            align-items: center;
            background-color: #281414;
            color: $color--high-pure;
            border-bottom-right-radius: $border-radius--large;
            border-top-right-radius: $border-radius--large;
            display: flex;
            gap: $gap--small;
            padding-top: 12px;
            padding-bottom: 12px;
             cursor: pointer;
              &:hover {
                opacity: 0.9;
                transition: opacity 0.2s;
            }

            @include mobile {

                span {
                    display: none;
                }
            }

        }
    }

    &__buttons-container {
        display: flex;
        justify-content: center;
        margin: auto;
        position: absolute;
        bottom: size(16);
        width: 100%;
        z-index: 1;
    }

    &__buttons {
        align-items: center;
        bottom: size(0);
        display: flex;
        gap: $gap--medium;
        justify-content: center;
        margin: auto;
        position: absolute;
        max-width: calc(100% - #{size(32)});
        width: 42.5rem;
        margin-left: 13px;
        z-index: 1;

        a, button {
            align-items: center;
            border-radius: $border-radius--large;
            display: flex;
            flex: 1;
            gap: $gap--small;
            justify-content: center;
            padding: $padding--small 9px;
            text-decoration: none;
            cursor: pointer;
              &:hover {
                opacity: 0.9;
                transition: opacity 0.2s;
            }
        }
    }

    &__add-risk {
        background-color: $color--warning-dark;
        color: white;
        opacity: 0.9;
        transition: opacity 0.2s;
    }

    &__show-recommendations {
        background-color: $color--primary-pure;
        color: white;
        opacity: 0.9;
        transition: opacity 0.2s;
    }

    .jeomap :is(.mapboxgl-ctrl-zoom-out,.maplibregl-ctrl-zoom-out),
    .jeomap :is(.mapboxgl-ctrl-zoom-in,.maplibregl-ctrl-zoom-in){
        background-image: unset !important;
    }

    .jeomap {
        background-color: transparent;
        height: calc(100vh - #{size(120)});

        .legend-container {
            display: none;
        }

        .maplibregl-ctrl-logo {
            display: none;
        }

        // Map zoom controls
        .maplibregl-ctrl-top-left {
            bottom: 6rem;
            top: unset;
            @media screen and (max-width: size(820)) {
                bottom: size(80);
            }
        }
        .maplibregl-ctrl-group {
            display: flex !important;
            flex-direction: column !important;
            gap: $gap--small;

            box-shadow: none !important;
            background-color: transparent !important;

            button {
                background-color: $color--secondary-dark !important;
                border-radius: 8px !important;
                width: size(24);
                height: size(24);
            }

            button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon {
                background-image: url('/wp-content/themes/dcp/assets/images/zoom-in.svg') !important;
            }

            button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon {
                background-image: url('/wp-content/themes/dcp/assets/images/zoom-out.svg') !important;
            }
        }
    }
}

.dcp-map-block{
    &__buttons{
        bottom: size(16) !important;

        @include mobile{
            bottom: size(32) !important;
        }

        & > a{
            padding: $padding--small $padding--medium !important;
        }
    }
}
