.dcp-map {
    position: relative;

    &__tabs-container {
        display: flex;
        justify-content: center;
        margin: auto;
        position: absolute;
        top: size(16);
        width: 100%;
        z-index: 1;
    }

    &__tabs {
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: calc(100% - #{size(32)});
        width: size(720);
    }

    &__tab {
        align-items: center;
        background-color: $color--secondary-light;
        border: 1px solid var(--tab-color);
        color: var(--tab-color);
        display: flex;
        flex: 1;
        font-weight: 500;
        justify-content: center;
        padding: 5px;

        &--selected {
            background-color: var(--tab-color);
            color: white;
        }

        &[data-cpt="risco"] {
            border-bottom-left-radius: $border-radius--large;
            border-top-left-radius: $border-radius--large;
            --tab-color: #{$color--warning-dark};
        }

        &[data-cpt="apoio"] {
            border-bottom-right-radius: $border-radius--large;
            border-top-right-radius: $border-radius--large;
            --tab-color: #{$color--primary-pure};
        }
    }

    &__form-container {
        display: flex;
        justify-content: center;
        margin: auto;
        position: absolute;
        top: size(64);
        width: 100%;
        z-index: 1;
    }

    &__form {
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: calc(100% - #{size(32)});
        width: size(720);

        input, button {
            border: 1px solid $color--low-pure;
            min-height: size(42);
            padding: $padding--small $padding--medium;
        }

        input {
            border-bottom-left-radius: $border-radius--large;
            border-top-left-radius: $border-radius--large;
            flex: 1;
        }

        button {
            align-items: center;
            background-color: $color--low-pure;
            color: $color--high-pure;
            border-bottom-right-radius: $border-radius--large;
            border-top-right-radius: $border-radius--large;
            display: flex;
            gap: $gap--small;

            @include mobile {

                span {
                    display: none;
                }
            }
        }
    }

    &__buttons-container {
        display: flex;
        justify-content: center;
        margin: auto;
        position: absolute;
        bottom: size(16);
        width: 100%;
        z-index: 1;
    }

    &__buttons {
        align-items: center;
        bottom: size(0);
        display: flex;
        gap: $gap--medium;
        justify-content: center;
        margin: auto;
        position: absolute;
        max-width: calc(100% - #{size(32)});
        width: size(720);
        z-index: 1;

        a, button {
            align-items: center;
            border-radius: $border-radius--large;
            display: flex;
            flex: 1;
            gap: $gap--small;
            justify-content: center;
            padding: $padding--small $padding--medium;
            text-decoration: none;
        }
    }

    &__add-risk {
        background-color: $color--warning-dark;
        color: white;
    }

    &__show-recommendations {
        background-color: $color--primary-pure;
        color: white;
    }

    .jeomap {
        background-color: transparent;
        height: calc(100vh - #{size(120)});

        .legend-container {
            display: none;
        }

        .mapboxgl-ctrl-logo {
            display: none;
        }

        // Map zoom controls
        .mapboxgl-ctrl-top-left {
            bottom: size(16);
            left: unset;
            right: size(16);
            top: unset;

            @media screen and (max-width: size(820)) {
                bottom: size(80);
            }
        }
    }
}
