.welcome-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dcp-map-welcome-modal {
    background-color: $color--high-light;
    border-radius: 16px;
    padding: 24px;
    max-width: 640px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    &__step-content {
        display: flex;
        gap: 40px;
        align-items: center;

        &.padding {
            padding-bottom: 12px;
        }
    }

    &__image {
        max-width: 250px;
    }

    &__title {
        font-family: $font-family--secondary;
        font-size: 20px;
        font-weight: var(--Spacing-space-100, 8);
        line-height: 120%;
        color: $color--secondary-dark;
        margin-bottom: 12px;
        margin-top: unset !important;

        &.bold-position {
            margin-top: 16px !important;
            font-weight: $font-weight--bold;
        }
    }

    &__text {
        font-family: $font-family--secondary;
        font-size: 16px;
        color: $color--secondary-dark;
        font-weight: $font-weight--regular;
        line-height: 130%;
        margin-bottom: 16px;
    }

    &__tags {
        display: flex;
        gap: 12px;
        margin: 16px 0 30px 0;

        .dcp-map-legend__list{
            top: 0;

            li > button > span{
                display: inline-block;
                white-space: nowrap ;
            }
        }
    }

    &__tag-container {
        display: flex;
        align-items: center;
        max-width: 100%;
        gap: 4px;
        padding: 12px 16px;

        border-radius: 16px;

        &.alagamento {
            border: 1px dashed #99320F;
            background-color: #F3DED7;
        }

        &.lixo {
            border: 1px dashed #AA7700;
            background-color: #FFF2D4;
        }
    }

    &__tag {
        border-radius: 16px;
        padding: 4px 12px;
        font-size: 14px;
        font-weight: 500;

        &.tag-alagamento {
            background-color: $color--warning-dark;
            color: $color--secondary-light;
        }

        &.tag-lixo {
            background-color: $color--warning-pure;
            color: $color--secondary-dark;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__item {
        display: flex;
        gap: 12px;
        align-items: flex-start;
        flex-direction: column;

        &-2{
            flex-direction: row;
        }

        .dcp-map-welcolme-modal__item--container{
            display: flex;
            align-items: flex-start;
            gap: $gap--small;
        }

        &-title {
            font-family: $font-family--secondary;
            font-size: 16px;
            color: $color--secondary-dark;
            font-weight: $font-weight--bold;
            line-height: 130%;
        }

        .icon {
            padding-top: 5px;
        }

        &-text {
            font-family: $font-family--primary;
            font-size: 16px;
            font-weight: $font-weight--regular;
            line-height: 130%;
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-bottom: 24px;
        margin-top: 12px;
    }

    &__dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #C9C1C0;
        transition: background-color 0.3s;

        &--active {
        background-color: $color--secondary-dark;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    &__button {
        border: none;
        padding: 8px 16px;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        cursor: pointer;
        transition: background-color 0.3s;

        &--skip {
            background-color: $color--secondary-light;
            color: $color--primary-pure;
            border: 1px solid $color--primary-pure;
        }

        &--next {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background-color: $color--primary-pure;
            color: $color--secondary-light;
        }

        &--last-step {
            width: 156px;
        }
    }

    @include mobile {
        width: 90%;
        max-height: 90vh;
        overflow-y: auto;
        padding: 15px;

        &__step-content {
            flex-direction: column;
            gap: 12px;
            align-items: center;

            &.padding {
                padding-bottom: unset;
            }
        }

        &__image-container {
            max-width: 100%;

            .dcp-map-welcome-modal__image--step2 + & {
                height: auto;
            }
        }

        &__image {
            width: 180px;
            height: 105px;

            &--step2 {
                max-width: none;
                object-fit: contain;
            }
        }

        &__text-container {
            width: 100%;
        }

        &__title {
            font-size: 18px;

            &.bold-position {
                margin-top: unset !important;
            }
        }

        &__tags {
            margin: 12px 0 0 0;
        }

        &__text {
            margin-bottom: 12px;
        }

        &__tag-container {
            width: fit-content;
            padding: 4px 12px;
        }

        &__pagination {
            margin-top: 12px;
        }

        &__button {
            &--last-step {
                width: unset;
            }
        }
    }
}
