.page-quem-acionar{
    .apoio-filtro {
        margin-bottom: 2rem;

        .apoio-search-wrap {
            display: flex;
            width: 100%;
            max-width: 676px;
            max-height: 45px;
            margin: unset;
            position: relative;
            margin: 56px 0;

            input {
              flex: 1;
              padding: 12px 16px 12px 40px; // espaço para o ícone
              font-size: 1rem;
              border: 1px solid #ccc;
              border-right: none;
              border-radius: 50px 0 0 50px; // mais arredondado
              outline: none;
              background-color: #fff;
            }

            button {
              padding: 0 1.5rem;
              background: $color--secondary-dark;
              color: #fff;
              border: 1px solid #0073aa;
              border-left: none;
              border-radius: 0 50px 50px 0;
              cursor: pointer;
              font-size: 1rem;
              transition: background 0.2s;

              &:hover {
                background: #005f8d;
              }
            }

            // Ícone de lupa
            &::before {
              content: '🔍';
              position: absolute;
              left: 12px;
              top: 50%;
              transform: translateY(-50%);
              font-size: 1rem;
              color: #888;
            }
          }


          .apoio-tags {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            border-bottom: 2px solid #E6E2E0 ;
            padding-bottom: 32px;

            .tag-button {
              padding: 0.4rem 1rem;
              border: 1px solid #3c2a1e; // tom escuro como o texto da imagem
              background: transparent;
              color: #3c2a1e;
              border-radius: 999px;
              font-weight: 500;
              font-size: 0.95rem;
              cursor: pointer;
              transition: all 0.2s ease-in-out;

              &.active {
                background: #3c2a1e;
                color: #fff;
                border-color: #3c2a1e;
              }
            }

          }

        .apoio-item {
          border: 1px solid #eee;
          padding: 1rem;
          margin-bottom: 1rem;
          border-radius: 5px;
        }
    }
    .apoio-lista{
        display: flex;
        gap: 24px;
    }
}
