//bloco kit de sobreviência da home
.kit-sobrevivencia{
    margin-bottom: size(70);
    margin-top: size(70);

    .wp-block-cover{
        &__inner-container{
            .wp-block-columns{
                gap: $gap--large;

                .wp-block-column:first-child{
                    p,
                    h2{
                        color: $color--secondary-dark;
                    }

                    h2{
                        font-size: $font-size--xx-large;
                        max-width: size(450);
                        white-space: normal;
                        word-break: break-word;

                        @include mobile{
                            font-size: $font-size--medium !important;
                        }
                    }

                    p{
                        font-size: size(18);

                        @include mobile {
                            font-size: $font-size--x-small;
                        }
                    }

                    .wp-block-heading {
                        @include mobile {
                            margin-top: $margin--large;
                            font-size: $font-size--large;
                        }
                    }

                    .wp-block-buttons{
                        @include mobile{
                            max-width: size(350);
                            width: 100%;
                        }
                    }

                    .wp-block-buttons > .wp-block-button{
                        @include mobile{
                            width: 100%;
                        }

                        a{
                            border: size(1) solid $color--secondary-dark;
                            font-size: $font-size--x-small;
                            padding: $padding--small size(20);

                            &:hover{
                                border-color: $color--high-dark;
                                color: $color--high-dark !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
