//bloco kit de sobreviência da home
.kit-sobrevivencia{
    margin-bottom: size(70);
    margin-top: size(70);



    .wp-block-cover{
        &__inner-container{
            margin-right: auto;
            margin-left: auto;
            max-width: 1330px;
            width: 100%;

            @media (max-width: size(1400)){
                max-width: size(1080);
            }

            .wp-block-columns{
                gap: 40px;
                max-width: size(1160);

                @media (max-width: size(1400)){
                    max-width: 1180px;
                }

                .wp-block-column:first-child{
                    p,
                    h2{
                        color: $color--secondary-dark;
                    }

                    h2{
                        font-size: 48px;
                    }

                    p{
                        font-size: 18px;
                    }

                    .wp-block-heading {
                        @media (max-width: 768px) {
                            margin-top: 32px;
                            font-size: 32px;
                        }
                    }

                    .wp-block-buttons > .wp-block-button{
                        a{
                            font-size: 16px;
                            padding: size(8) size(20);
                        }
                    }
                }
            }
        }
    }
}
