.main-footer-subscribe{
    margin-top: size(80);
    margin-bottom: size(80);

    &__widget{
        .wp-block-cover{

            .wp-block-columns > .wp-block-column:first-child{

                .wp-block-image > img{
                    @include mobile{
                        height: auto !important;
                    }
                }

                img{
                    object-fit: cover;
                }

                .wp-block-spacer{
                    @include mobile{
                        display: none;
                    }
                }

                .p1{
                    @include mobile{
                        display: none;
                    }
                }
            }

            .wp-block-columns > .wp-block-column:last-child{

                p,
                h2{
                    color: $color--secondary-dark;
                }

                p{
                    font-size: $font-size--x-small !important;
                }

                & > h2{
                    font-size: $font-size--large;
                }

                .p2 {
                    display: none;

                    @include mobile {
                        display: block;

                        &::before {
                            content: '';
                            display: block;
                            width: size(40);
                            height: size(2);
                            background-color: #e6e3df;
                        }
                    }
                }
            }
        }
    }
}
