.main-footer-subscribe{
    margin-top: size(80);
    margin-bottom: size(80);
    position: relative;
    //z-index: -999;

    @include mobile {
        margin-top: unset !important;
    }

    &__widget{
        .wp-block-cover{

            .wp-block-columns > .wp-block-column:first-child{
                .wp-block-image.hide-on-mobile {
                    @media (max-width: 782px) {
                        display: none !important;
                    }
                }

                .wp-block-image.hide-on-desktop {
                    @media (min-width: 783px) {
                        display: none !important;
                    }
                }

                .wp-block-image > img{
                    @include mobile{
                        height: auto !important;
                    }
                }

                img{
                    object-fit: cover;
                }

                .wp-block-spacer{
                    @include mobile{
                        display: none;
                    }
                }

                .p1{
                    font-size: $font-size--x-small !important;
                    @include mobile{
                        display: none;
                    }
                }
            }

            .wp-block-columns > .wp-block-column:last-child{

                p,
                h2{
                    color: $color--secondary-dark;
                }

                p{
                    font-size: $font-size--x-small !important;
                    display: flex;
                    flex-direction: column;
                    gap: $gap--medium;
                }

                & > h2{
                    font-size: $font-size--large;

                    @include mobile {
                        font-size: 24px !important;
                    }
                }

                .p2 {
                    display: none;

                    @include mobile {
                        display: block;

                        &::before {
                            content: '';
                            display: block;
                            width: size(40);
                            height: size(2);
                            background-color: #e6e3df;
                        }
                    }
                }
            }
        }
    }
}

.page-template-page-dcp-map{
    .main-footer-subscribe{
        z-index: -999;
    }
}

.page-reportar-riscos,
.page-template-page-register-risk,
.post-type-archive-acao,
.page-politica-de-privacidade,
.single-acao,
.page-politica-de-privacidade-2,
.page-transparencia,
.page-sobre,
.page-metodologia {
    .main-footer-subscribe{
        display: none;
    }
}

.single-relato{
    .main-footer-subscribe > .main-footer-subscribe__widget{

        @media (max-width: size(1025)) {
            padding-inline: $padding--large;
        }

        @media (max-width: size(769)) {
            padding-inline: $padding--small;
        }

        .wp-block-cover{
            border-top: size(2) solid #E6E3DF;
            padding-top: size(64);
            padding-inline: 0 !important;
            max-width: size(1351);
            width: 100%;
            margin-inline: auto !important;

            @include mobile {
                padding-inline: $padding--medium !important;
            }

        }

    }
}
