.main-footer-subscribe{
    margin-top: size(80);
    margin-bottom: size(80);

    &__widget{
        .wp-block-cover{

            .wp-block-columns > .wp-block-column:first-child{
                img{
                    object-fit: cover;
                }
            }

            .wp-block-columns > .wp-block-column:last-child{

                p,
                h2{
                    color: $color--secondary-dark;
                }

                p{
                    font-size: $font-size--x-small !important;
                }

                & > h2{
                    font-size: $font-size--large;
                }
            }
        }
    }
}
