.main-footer {
    background-color: $color--secondary-dark;
    padding-bottom: $padding--large;
    padding-top: $padding--xx-large;

    @include mobile {
        padding-top: $padding--x-large;
    }

    &__widgets {
        max-width: $grid--wide;

        @include mobile {
            padding-inline: $padding--x-large;
        }

        .wp-block-heading {
            margin-block: $margin--small;
        }
    }

    &__widget{

        .footer-column1{
            .wp-block-column{
                & > p{
                    color: $color--secondary-light;
                    font-size: 14px;
                }
            }

            .wp-block-column:last-child{
                border-right: size(3) solid $color--secondary-light;
                display: flex;
                height: size(46);
                justify-content: flex-end;
                padding-right: size(5);
            }
        }

        .footer-column2{
            p{
                color: $color--secondary-light;
                font-size: 14px;
                font-weight: $font-weight--bold;
                margin-block-start: 0;
            }

            a{
                text-decoration: none;
            }

            .wp-block-column:last-child{
                display: flex;
                justify-content: flex-end;

                & > h6{
                    position: relative;
                    right: size(-60);
                }

                .wp-block-group{
                    display: flex;
                }
            }
        }

        .copyright{
            color: $color--secondary-light;
            font-size: 14px;
        }
    }
}
