@import '~@splidejs/splide/dist/css/splide-core.min.css';

.dcp-map-modal {
    border: none;
    border-radius: $border-radius--medium;
    margin: auto;
    max-width: calc(100% - #{size(32)});
    position: relative;

    @include mobile {
        width: size(400);
    }
    @include tablet {
        width: size(480);
    }
    @include desktop {
        width: size(520);
    }

    @include desktop-xlarge {
        width: size(720);
    }

    @include modal-height {
        width: size(500);
    }

    &__close {
        background-color: transparent;
        inset-inline-end: size(16);
        position: absolute;
        top: size(16);
    }

    &__details {

        &::before {
            background-color: #C9C6C5;
            border-radius: 2px;
            content: '';
            height: 2px;
            display: block;
            margin-block: $gap--medium;
            width: size(24);
        }

        iconify-icon {
            margin-inline-end: size(4);
        }

        p {
            color: $color--high-dark;
        }
    }

    &__pill {
        align-items: center;
        display: inline-flex;
        border-radius: $border-radius--medium;
        font-size: $font-size--xx-small;
        font-weight: $font-weight--medium;
        gap: $gap--small;
        padding: size(2) size(12);
    }

    &__title {
        font-family: $font-family--primary;
        font-size: $font-size--medium;
        font-weight: $font-weight--medium;
        letter-spacing: 0;
    }


    &__whatsapp {
        border: 1px solid $color--primary-pure;
        border-radius: $border-radius--large;
        background-color: transparent;
        color: $color--primary-pure;
        padding: size(8) size(16);
        text-decoration: none;
    }

    &__whatsapp-desktop {
        @include mobile {
            display: none;
        }
    }

    &__whatsapp-mobile {
        display: none;
        @include mobile {
            display: inline;
        }
    }

    .splide {
        margin-block: $gap--medium;
        aspect-ratio: 16 / 9;

        @include desktop {
            max-height: 640px;
        }

        .splide__track, .splide__list, .splide__slide {
            height: 100%;
        }

        .splide__slide {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        img, video {
            display: block;
            border-radius: $border-radius--medium;
            object-fit: cover;
        }

        .splide__slide:not(.is-vertical) img {
            width: 100%;
            height: 100%;
        }

        .splide__slide.is-vertical img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            aspect-ratio: 4 / 5;
        }
    }

    main {
        margin-block: $gap--medium;

        @include mobile {
            margin-block: $gap--small;
        }
        @include tablet {
            margin-block: $gap--x-small;
        }
        @include desktop {
            margin-block: $gap--small;
        }
        @include desktop-xlarge {
            margin-block: $gap--medium;
        }
    }

    footer {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
}

.risk-modal {
    --risk-background: #{$color--warning-pure};
    --risk-color: black;

    @include mobile{
        position: fixed;
    }

    &--alagamento {
        --risk-background: #{$color--warning-dark};
        --risk-color: white;
    }

    &--lixo {
        --risk-background: #{$color--secondary-pure};
        --risk-color: black;
    }

    &__date {
        margin-block: $gap--medium;
        @include mobile {
            margin-block: $gap--small;
        }
        @include tablet {
            margin-block: $gap--x-small;
        }
        @include desktop {
            margin-block: $gap--small;
        }
        @include desktop-xlarge {
            margin-block: $gap--medium;
        }
    }

    &__pill {
        background-color: var(--risk-background);
        color: var(--risk-color);
    }
}

.support-modal {

    &__pill {
        background-color: #235540;
        color: white;
    }

    &--cacamba &__pill {
        background-color: #35763D;
    }

    &--iniciativas-locais &__pill {
        background-color: #367674;
    }
}
