.page-sobre {
  /*   padding: 2rem;
    @include mobile {
        padding-inline: inherit;
    } */
    .wp-block-cover{
         width: 100vw;
        margin-left: calc(-50vw + 50%);
        position: relative;
        left: 0;
        right: 0;

        &__inner-container{
            @include mobile{
                padding-inline: unset !important;
            }
        }
    }
    .has-secondary-light-color {
        color: #E6E2E0 !important
    }
    h2 {
        margin: 0px ;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 2px;
        font-weight: 400;
        @include mobile {
            font-size: 24px;
            margin-bottom: 12px;
        }

    }

    .title {
        @include mobile {
            margin-bottom: 12px;
        }
    }

    .title-network-goal {
        @include mobile {
            margin-bottom: 40px;
        }
    }

    p {
        @include mobile {
            margin-top: unset;
        }
    }

    .wp-block-spacer {
        @include mobile {
            height: unset !important;
        }
    }

    .wp-block-columns {
        padding: 0;
    }
    .wp-block-group {
        @include mobile{

            .wp-block-spacer {
                height: unset !important;
            }
        }
        .wp-block-columns {
                padding-inline: 0rem;
                @include mobile {
                    .wp-block-spacer {
                        height: 16px !important;
                    }
                }
            }
        .wp-block-coblocks-accordion{
            padding-right: 0 !important;
            padding-left: 0 !important;
            summary {
                border-radius: 20px;
            }
        }

    }

    &__group-one {
        @include mobile {
            margin-top: 32px !important;
        }

        .wp-block-columns {
            @include mobile {
                .wp-block-column:first-child {
                        order: 2;
                    }
                }
        }
    }

    &__group-two {
        .wp-block-columns {
            .wp-block-column {
                .image {
                    @include mobile {
                        img {
                            width: 68px !important;
                        }
                    }
                }

                p {
                    @include mobile {
                        margin-top: 12px;
                    }
                }
            }
        }
    }

    &__dcp {
        .wp-block-columns {
            .wp-block-column:nth-child(2) {
                @include mobile {
                    display: none;
                }
            }
        }
    }

    &__methodology {
        .wp-block-columns {
            @include mobile {
                margin-top: 48px;
            }
        }

        .wp-block-buttons {
            @include mobile {
                margin-top: 32px;
            }
        }
    }

    .post-content {
        h2{
            font-weight: 400 !important;
        }
        hr {
            color: #E6E2E0 !important;
            margin-top: 40px !important;
            margin-bottom: 40px !important;
            color: #E6E2E0 !important;
            @include mobile {
                margin-top: 16px !important;
                margin-bottom: 16px !important;
            }
        }
        .wp-block-group {
            padding-left: 0px;
            padding-right: 0px;

            @include mobile{
                .wp-block-spacer{
                    height: 32px !important;
                }
            }
            .title{
                /* padding-left: 24px !important; */
            }
            .reverse-mob{
                @include mobile {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }

    }

    &__faq {
        .wp-block-columns {
            @include mobile {
                padding: unset !important;

                .wp-block-column:first-child {
                    display: none !important;
                }
            }
        }
    }

}
