.page-metodologia {

    .breadcrumb {
        color: #281414;
    }
    .wp-block-spacer {
        @include mobile {
            height: 0 !important;
        }
    }
    h2 {
        @include mobile {
            font-size: 24px !important;
        }
    }
    .center-title{
        max-width: 720px;
    }

    .image {
        img {
            @include mobile {
                width: 68px !important;
            }
        }
    }
    .col-1 {
        margin-top: 24px;
        @include mobile {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 32px;
            margin-bottom: unset;
        }

        .wp-block-column:first-child {
            @include mobile {
                flex-basis: initial !important;
            }
        }
        .wp-block-column:last-child {
            @include mobile {
                flex-basis: initial !important;
            }
            img {
                @include mobile {
                    width: 287px;
                }
            }
        }
    }
    .wp-block-group {
        @include mobile {
            .wp-block-spacer {
                height: 12px !important
            }
            h3 {
                font-size: 24px !important;
            }
        }
    }

    .columns {
        @include mobile {
            margin-top: unset;
        }
    }

    &__como-funciona {
        .wp-block-column {
            .wp-block-columns {
                .wp-block-column:last-child {
                    @include mobile {
                        padding-top: unset !important;
                    }
                }
            }
        }
    }

    .wp-block-separator:nth-of-type(3) {
        @include mobile {
            margin-top: unset !important;
        }
    }

    &__monitoramento{
        @include mobile {
            padding-bottom: 0px !important;
        }
        .wp-block-cover__inner-container {
            @include mobile {
                /* margin-top: 56px; */
            }
        }
    }





    //

    .post-content {

        .wp-block-columns.has-background {
            margin: 0;
        }

        .page-metodologia__monitoramento {
            @include mobile {
                padding-left: 15px !important;
                padding-bottom: 35px !important;
            }

            .has-secondary-light-color {
                @include mobile {
                    width: 95%;
                }
            }
        }
        .wp-block-coblocks-gallery-carousel-thumbnail-pagination {
            @include mobile {
                margin-top: 15px;
                overflow-x: scroll;
            }

            button {
                &:first-child {
                    margin-left: 0 !important;
                }
                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }




        .wp-block-separator {
            padding: 0 !important;
            margin: 0 1rem 50px 1rem !important;
            padding-inline : 0 !important;
        }

        .wp-block-group {

            &.is-layout-constrained {}

            &.wp-block-group-is-layout-constrained {

                .wp-block-columns {

                    .is-layout-flow {

                        .wp-block-columns {

                            .wp-block-column {

                                h5 {
                                    //background-color: #00FF00 !important;
                                    font-family: inherit;
                                    font-size: 23px;
                                    font-weight: inherit;

                                    strong {
                                        font-family: inherit;
                                        font-size: inherit;
                                    }
                                }

                                p {
                                    font-family: inherit;
                                    font-size: inherit;

                                    strong {
                                        //background-color: #00FF00 !important;
                                        font-family: inherit;
                                        font-size: 23px;
                                        font-weight: inherit;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

    }




}
