.page-sobre {
  /*   padding: 2rem;
    @include mobile {
        padding-inline: inherit;
    } */

    #app > main > .wp-block-separator{
        &:last-child{
            display: none !important;
        }
    }

    .wp-block-buttons > .wp-block-button > a{
        &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
    }

    .wp-block-cover{
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        position: relative;
        left: 0;
        right: 0;
        padding: size(32);

        @include mobile{
            padding-top: 0 !important;
        }

        &:last-child{
            margin-left: unset !important;

            @include mobile{
                margin-top: $margin--large*2 !important;
                margin-left: calc(-50vw + 50%) !important;
            }
        }


        &__inner-container{
            @include mobile{
                padding-inline: unset !important;
            }
        }
    }
    .has-secondary-light-color {
        color: #E6E2E0 !important
    }
    h2 {
        margin: 0px ;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 2px;
        font-weight: 400;
        @include mobile {
            font-size: 24px;
            margin-bottom: 12px;
        }

    }

    .title {
        @include mobile {
            margin-bottom: 12px;
        }
    }

    .title-network-goal {
        @include mobile {
            margin-bottom: 40px;
        }
    }

    p {
        @include mobile {
            margin-top: unset;
        }
    }

    .wp-block-spacer {
        @include mobile {
            height: unset !important;
        }
    }

    .wp-block-columns {
        padding: 0;
    }
    .wp-block-group {
        @include mobile{

            .wp-block-spacer {
                height: unset !important;
            }
        }
        .wp-block-columns {
                padding-inline: 0rem;

                @media (min-width: size(500)) and (max-width: size(768)){
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                @include mobile {
                    .wp-block-spacer {
                        height: 16px !important;
                    }
                }
            }
        .wp-block-coblocks-accordion{
            padding-right: 0 !important;
            padding-left: 0 !important;
            summary {
                border-radius: 20px;
            }
        }

    }

    &__group-one {
        @include mobile {
            margin-top: 32px !important;
        }

        .wp-block-columns {
            @include mobile {
                .wp-block-column:first-child {
                        order: 2;
                    }
                }
        }
    }

    &__group-two {
        .wp-block-columns {
            .wp-block-column {
                .image {
                    @include mobile {
                        img {
                            width: 68px !important;
                        }
                    }
                }

                .wp-block-image > img{
                    @include mobile {
                        max-width: size(68) !important;
                    }
                }

                p {
                    @include mobile {
                        margin-top: 12px;
                    }
                }
            }
        }
    }

    &__dcp {
        .wp-block-columns {
            @media (min-width: $break--small) and (max-width: $break--desktop){
                display: flex !important;
                flex-direction: column;
            }

            .wp-block-column > h2{
                @include mobile {
                    padding-top: size(40);
                }
            }

            .wp-block-column:nth-child(2) {
                @include mobile {
                    //display: none;
                }
            }
        }
    }

    &__methodology {
        .wp-block-columns {
            @include mobile {
                margin-top: 48px;
            }
        }

        .wp-block-buttons {
            @include mobile {
                margin-top: 32px;
            }

            .wp-block-button > a{
                display: flex;
                gap: $gap--small;

                &:hover{
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                }

                & > img{
                    object-fit: contain;
                }
            }
        }
    }

    .post-content {
        h2{
            font-weight: 400 !important;
        }
        hr {
            color: #E6E2E0 !important;
            margin-top: 40px !important;
            margin-bottom: 40px !important;
            color: #E6E2E0 !important;
            @include mobile {
                margin-top: 16px !important;
                margin-bottom: 16px !important;
            }
        }
        .wp-block-group {
            padding-left: 0px;
            padding-right: 0px;

            @include mobile{
                .wp-block-spacer{
                    height: 32px !important;
                }
            }

            .reverse-mob{
                @include mobile {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }

    }

    &__faq {
        .wp-block-columns {
            @include mobile {
                padding: unset !important;

                .wp-block-column:first-child {
                    display: none !important;
                }
            }
        }
    }

}
