.page-politica-de-privacidade,
.page-politica-de-privacidade-2,
.single-transparencia{
    h2{
        margin-top: 6rem;
        font-size: 40px !important;
        @include mobile{
            margin-top: 2rem;
            font-size: 24px;
        }
    }
    h3{
        font-size: 32px !important;
        @include mobile{
            font-size: 24px;
        }
    }
    .wp-block-spacer{
        @include mobile{
            height: 0px !important;
        }
    }
    .wp-block-separator{
        margin-right: 2rem !important;
        margin-left: 2rem !important;
        @include mobile {
            margin: 16 !important;
            margin-right: 1rem !important;
            margin-left: 1rem !important;
        }
    }
    .col-1{
        width: 100%;
        max-width: 93%;
        @include mobile{
            display: flex;
            flex-direction: column-reverse;

        }
        p{
            max-width: 676px;
        }


    }
    .col-1:not(.is-not-stacked-on-mobile)>.wp-block-column{
        flex-basis: auto !important;
    }
  .wp-block-list {

    li {
      padding: 1px 0px;
      color: $color--secondary-dark !important;

      ul{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
      }

      strong {
        color: $color--secondary-dark !important;
      }
    }
    // Remove marcador de lista
    list-style: none;
    padding-left: 0;
    margin-left: 0;

  }
   .wp-block-list ul ul li {
    padding-left: $padding--x-large;
    padding-bottom: $padding--medium;
  }
  .ficou-alguma-duvida{
    margin-top: 120px;
    @include mobile{
        margin-top: 16px;
        padding: unset !important;
    }
    h1{
        font-size: 40px !important;
        @include mobile{
            font-size: 24px !important;
        }
    }
    form {
        textarea{
            height:136px !important
        }
        input::placeholder,
        textarea::placeholder {
            color: var(--Color-Gray-800, #484646);
            opacity: 1; /* Garante que a cor apareça em todos os navegadores */
        }
    }

  }
  .main-footer-subscribe{
        display: none !important;
    }


}

.page-politica-de-privacidade {
    .post-content {
        @include mobile {
            padding-inline: 1rem;
        }
    }

    .wp-block-columns {
        @include mobile {
            padding-inline: unset !important;
        }
    }

    .col-1 {
        @include mobile {
            max-width: 100% !important;
        }
    }

    .wp-block-heading {
        @include mobile {
            padding-inline: unset !important;
        }
    }
}
