.page-transparencia {
    // margin-top: 24px;
      h2 {
        margin: 0px ;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 2px;
        font-weight: 400;
        @include mobile {
            font-size: 24px !important;
        }

    }
    .page-content {
        // padding-inline: 1rem;

        @include mobile {
            padding-inline: 1rem;

        }
        .container{
            padding:0px;
        }
        h2{
            font-weight: 400 !important;
            font-size: $font-family--heading;
            font-size: 40px;
            margin: 0px;
            @include mobile{
                font-size: 24px !important;
            }


        }

        h3 {
            font-family: $font-family--heading;
            font-size: 32px;
            line-height: 130%;
            letter-spacing: 1.6px;
            font-weight: $font-weight--regular;
            margin: 0px;
            @include mobile{
                font-size: 24px !important;
            }
        }

        hr {
            color: #E6E2E0 !important;
            margin-top: 40px !important;
            margin-bottom: 40px !important;
            color: #E6E2E0 !important;
            @include mobile {
                margin-top: 32px !important;
                margin-bottom: 32px !important;
            }
        }
        .wp-block-group {
            padding-left: 0px;
            padding-right: 0px;
            .wp-block-spacer{
                @include mobile {
                    height: 0px !important;
                }
            }
            .col-1{
                @include mobile {
                    display: flex;
                    flex-direction: column-reverse;
                }
                .wp-block-column:first-child{
                    p:last-child {
/*                         padding-top: 16px !important;
 */                    }
                }

            }
            .col-2 {
                .wp-block-column {
                    p {
                        padding-bottom: 24px;

                    }
                    strong{
                        margin-bottom: 8px !important;
                    }
                    h2{
                        margin-bottom: 24px;
                        font-size: 32px;
                    }
                }

            }

            .reverse-mob{
                @include mobile {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }
        .wp-block-cover {
            .wp-block-cover__inner-container  {
                padding-top: 80px;
                padding-bottom: 56px;
                .wp-block-image {
                    @include mobile {
                        display: none !important;
                    }
                }
            }
        }

        .transparencia-container {
            .wp-block-column:first-child {
                @include mobile {
                    order: 2;
                }
            }
        }

        .wp-block-spacer:nth-child(3) {
            @include mobile {
                height: 24px !important;
            }
        }

        .wp-block-columns:nth-child(5) {
            gap: 40px !important;

            @include mobile {
                margin-bottom: unset !important;
            }

            .wp-block-column:first-child {
                p:last-child {
                    margin-top: 8px !important;
                }
            }
        }

        .wp-block-spacer:nth-child(6) {
            @include mobile {
                height: 0px !important;
            }
        }

        .wp-block-spacer:nth-child(11),
        .wp-block-spacer:nth-child(13) {
            @include mobile {
                height: 24px !important;
            }
        }

        .wp-block-columns:nth-child(14) {
            h2 {
                @include mobile {
                    color: $color--secondary-dark !important;
                }
            }

            .wp-block-column {
                .wp-block-buttons {
                    @include mobile {
                        display: none !important;
                    }
                }
            }
        }

    }

}
