.page-politica-de-privacidade,
.page-politica-de-privacidade-2 {

    h2{
        margin-top: 6rem;
        @include mobile{
            margin-top: 2rem;
            font-size: 24px;
        }
    }
    h3{
        @include mobile{
            font-size: 24px;
        }
    }
    .wp-block-spacer{
        @include mobile{
            height: 0px !important;
        }
    }
    .wp-block-separator{
        @include mobile {
            margin: 16 !important;
        }
    }
    .col-1{
        @include mobile{
            display: flex;
            flex-direction: column-reverse;

        }
        p{
            max-width: 676px;
        }


    }
    .col-1:not(.is-not-stacked-on-mobile)>.wp-block-column{
        flex-basis: auto !important;
    }
  .wp-block-list {

    li {
      padding: 1px 0px;
      color: $color--secondary-dark !important;

      ul{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
      }

      strong {
        color: $color--secondary-dark !important;
      }
    }
    // Remove marcador de lista
    list-style: none;
    padding-left: 0;
    margin-left: 0;

  }
   .wp-block-list ul ul li {
    padding-left: $padding--x-large;
    padding-bottom: $padding--medium;
  }

}
