.page-quem-acionar {
    main {
        .background > .breadcrumb{
            max-width: size(1330);
            width: 100%;
            margin-inline: auto;
            margin-top: $margin--large;
            margin-bottom: $margin--large;
            @include mobile{
                padding-left: 1rem;
            }
        }

        .background > img{
            z-index: 0;
            position: absolute;
            left: 66%;
            @include mobile{
                display: none;
            }
        }

        .container{
            padding-inline: 2rem;
        }
        .wp-block-cover {
            .wp-block-cover__inner-container{
                padding-inline: 2rem;
                @media( max-width:1366px ){
                    padding-inline: 1rem;
                }
            }
            .wp-block-columns {
                .wp-block-column {
                // Primeiro bloco de colunas
                .wp-block-columns:first-child {
                    .tittle-hidden-mobile{
                        @include mobile{
                            font-size: 24px !important;
                            margin-left: 10px !important;
                        }
                    }
                    .text-hidden-mobile{
                        @include mobile{
                            display: none;
                        }
                    }
                    .wp-block-column > p {
                    max-width: 725px;
                    font-size: 16px !important;
                    margin: 0;

                    }
                }

                // Último bloco de colunas
                .wp-block-columns:last-child {
                    .wp-block-separator {
                    width: 100%;
                    max-width: 24px !important;
                    margin: 16px 0;
                    }

                    .wp-block-column {
                    border-radius: 20px !important;

                        .wp-block-columns:first-child {
                            .wp-block-column {
                                .wp-block-columns:nth-child(3),
                                .wp-block-columns:nth-child(4) {
                                    gap: 6px;
                                    margin: 0;

                                    p {
                                    color: #605E5D !important;
                                    }
                                }
                                .wp-block-columns:nth-child(4) {
                                    margin: 8px 0px;

                                }
                            }
                        }
                    }
                }
                }
                strong{
                font-size: 20px !important;
                }
                .wp-block-buttons {
                    margin: 0;
                    @include mobile{
                        width: 40%;
                        float: inline-end;
                    }
                    a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    padding: 8px 16px;
                    font-size: 16px;
                    }
                }
            }
        }
        .title > h2{
            color: var(--Color-Theme-Danger, #B83D13) !important;
            margin: 16px 0;
            @include mobile{
                font-size: 24px !important;
                margin-bottom: 0px;
            }

        }
        .title > p{
            max-width: 676px;
            color:#281414;
            font-weight: 500;
            @include mobile{
                font-size: 16px;
                font-weight: 400;
            }
        }
        .apoio-lista{
            margin-bottom: 112px;
            .apoio-item{
                width: 100%;
                max-width: 443px;
                background-color: white;
                border-radius: var(--Spacing-space-250, 20px);
                border-color: #FEFBF9;
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
                padding: 20px;
                font-weight: 300;
                h2{
                    font-family: var(--Typeface-Font-Gabarito, Gabarito);
                    font-size: 20px;
                    margin-bottom: 8px;

                }
                p{
                    color: var(--Color-Gray-700, #605E5D);
                    /* Body/large */
                    font-family: var(--Typeface-Font-Gabarito, Gabarito);
                    font-size: var(--Spacing-space-200, 16px);
                    font-style: normal;
                    line-height: 130%; /* 20.8px */
                }
                hr{
                    height: 3px;
                    background:#E6E2E0;
                    width: 24px;
                    margin-top: 20px;
                    margin-bottom: 16px;

                }
                .separator{
                    height: 2px;
                    width: 100%;
                    background:#E6E2E0;
                    margin-top: 20px;
                    margin-bottom: 16px;
                    @include mobile{
                        display: none !important;
                    }
                }
                .apoio-conteudo > p{
                    color: #281414;

                }

                span{
                    color: var(--Color-Theme-Dark, #281414);
                    /* Body/medium */
                    font-family: var(--Typeface-Font-Gabarito, Gabarito);
                    font-size: var(--Spacing-space-175, 14px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%; /* 18.2px */
                }
                .adress{
                    display: flex;
                    gap: 8px;
                    margin-bottom: 8px;
                    .icon-adress{
                    height: 24px;
                    }
                }
                .hour{
                    display: flex;
                    gap: 8px;
                }
            }
        }
        .title-card {
            font-size: 20px;
            font-weight: 500;
            color:#281414;
            margin-bottom: 32px;
            span{
                display: flex;
                gap: 8px;
                align-items: center;
            }
        }
    }
    .wp-block-group{
        @include mobile{
            margin-top: 32px;
        }
        .wp-block-spacer{
            @include mobile{
                height: 0px !important;
            }
        }
         .wp-block-columns .wp-block-column {
            .tittle-hidden-mobile{
                margin:0px !important;
                margin-left: 5vw !important;

                @media (max-width:1366px){
                margin:1.5rem !important;
                padding-left: 0.5rem;
                }
                @include mobile{
                    margin-left: 0px !important;
                }
            }
            .subtitle-acordeon{
                margin-left: 5vw !important;
                @include mobile {
                    margin-top: 0 !important;
                }
                @media (max-width:1366px){
                    margin-left: 0px !important;
                }
            }
            .tittle-hidden-mobile{
                @include mobile{
                    padding-left: 32px;
                    font-size: 1.5rem !important;
                }

            }

            .wp-block-columns {
                @include mobile {
                    margin-top: 0 !important;
                }
            }

        }
        .text-hidden-mobile{
            @include mobile{
                display: none;
            }
        }
       .wp-block-coblocks-accordion{
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: 130px;
            max-width: 85%;
            padding: 0 !important;

            @media (max-width:1366px){
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: 4.5rem;
            max-width: 93%;
            padding: 0 !important;
            }
            @include mobile{
                margin-left: auto;
                margin-right: auto;
            }


            .wp-block-coblocks-accordion-item{
                &__title{
                    background-color: $color--high-light !important;
                    color:#281414 !important;
                    font-weight: $font-weight--regular !important;
                    outline: none !important;
                    strong {
                        font-size: 20px;
                        color: $color--warning-dark;
                        font-weight: $font-weight--medium;
                    }
                }

                &__content{
                    background-color: var(--wp--preset--color--high-light) !important;
                    p{
                        color:#281414;
                        border-bottom: 1px #E6E2E0 solid;
                        padding-bottom: 20px;
                        padding-top: 20px;
                        margin: 0;
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                    a{
                        color:#235540;
                        font-weight: $font-weight--regular !important;
                    }
                }
            }
            .wp-block-coblocks-accordion-item__title {
                position: relative;
                padding-right: 1.5em;
                cursor: pointer;


            }

            details .wp-block-coblocks-accordion-item__title::after {
            content: "";
            position: absolute;
            left: 95%;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            background-image: url('/wp-content/themes/dcp/assets/images/arrow-bottom-acordeon.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
                @include mobile{
                    left: 90%;
                }
            }

            /* Quando o details estiver aberto */
            details.open .wp-block-coblocks-accordion-item__title::after,
            details[open] .wp-block-coblocks-accordion-item__title::after {
            content: "";
            position: absolute;
            left: 95%;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            background-image: url('/wp-content/themes/dcp/assets/images/arrow-top-acordeon.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
                @include mobile{
                    left: 90%;
                }
            }
        }
    }
    .call-modal {
        display: none;
        position: fixed;
        z-index: 9999;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;

        &__content {
            background-color: white;
            padding: 2rem;
            border-radius: 16px;
            max-width: 90%;
            width: 320px;
            text-align: center;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        &__close {
            margin-top: 1rem;
            background-color: #333;
            color: white;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
            background-color: #555;
            }
        }
        }

    .call-modal--visible {
    display: flex;
    }

}
