.page-quem-acionar {
    main {
      .wp-block-cover {
        .wp-block-columns {
          .wp-block-column {
            // Primeiro bloco de colunas
            .wp-block-columns:first-child {
              .wp-block-column > p {
                max-width: 725px;
                font-size: 16px !important;
                margin: 0;
              }
            }

            // Último bloco de colunas
            .wp-block-columns:last-child {
              .wp-block-separator {
                width: 100%;
                max-width: 24px !important;
                margin: 16px 0;
              }

              .wp-block-column {
                border-radius: 20px !important;

                .wp-block-columns:first-child {
                  .wp-block-column {
                    .wp-block-columns:nth-child(3),
                    .wp-block-columns:nth-child(4) {
                      gap: 6px;
                      margin: 0;

                      p {
                        color: $color--secondary-dark !important;
                      }
                    }
                    .wp-block-columns:nth-child(4) {
                        margin: 8px 0px;

                    }
                  }
                }
              }
            }
          }
          strong{
            font-size: 20px !important;
          }
          .wp-block-buttons{
            margin: 0;
            a{
                padding: 8px 16px;
                font-size: 16px;
            }
          }
        }
      }
    }
    .wp-block-group{
        margin-top: 7rem;
        .wp-block-coblocks-accordion{
            .wp-block-coblocks-accordion-item{
                &__title{
                    background-color: $color--high-light !important;
                    color:#281414 !important;
                    font-weight: $font-weight--regular !important;
                }
                &__title::first-line {
                    font-size: 20px;
                    color: $color--warning-dark;
                    font-weight: $font-weight--medium;
                }
                &__content{
                    a{
                        color:#235540;
                        font-weight: $font-weight--regular !important;
                    }
                }
            }
            .wp-block-coblocks-accordion-item__title {
                position: relative;
                padding-right: 1.5em;
                cursor: pointer;
              }

              details .wp-block-coblocks-accordion-item__title::after {
                content: ""; /* seta para cima quando fechado */
                position: absolute;
                left: 90%;
                top: 50%;
                transform: translateY(-50%);
                font-size: 0.9em;
                color: #333;
              }

              /* Quando o details estiver aberto */
              details.open .wp-block-coblocks-accordion-item__title::after,
              details[open] .wp-block-coblocks-accordion-item__title::after {
                content: "▼"; /* seta para baixo */
              }


        }
    }
    .call-modal {
        display: none;
        position: fixed;
        z-index: 9999;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;

        &__content {
            background-color: white;
            padding: 2rem;
            border-radius: 16px;
            max-width: 90%;
            width: 320px;
            text-align: center;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        &__close {
            margin-top: 1rem;
            background-color: #333;
            color: white;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
            background-color: #555;
            }
        }
        }

    .call-modal--visible {
    display: flex;
    }

}
