.recommendations-modal{
    .header-title,
    .recommendations-item,
    .phone-text{
        display: flex;
        gap: .5rem;
        align-items: center;
    }

    .recommendations-item {
        svg {
            flex-shrink: 0;
        }
    }

    .recommendations-content{
        padding-bottom: 2rem;

        & > p{
            font-weight: $font-weight--bold;
        }
    }

    .phones-content{
        padding-bottom: 1rem;

        & > p{
            font-weight: $font-weight--bold;
        }
    }
    .recommendations-content,
    .phones-content{
        border-bottom: 1px solid #ddd;
        margin-top: $margin--medium;
    }

    .phones-item{
        display: flex;
        justify-content: space-between;
        margin-bottom: .5rem;
    }
    .recommendations-items,
    .phone-items{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .phones-content{
        margin-top: .5rem;
    }

    .phone-number{
        font-family: $font-family--heading;
        color: $color--primary-light;
        font-size: size(20);
    }
    footer{
        padding-top: $padding--medium;
        justify-content: flex-start;
    }
}
