// Variáveis básicas (ajuste conforme seu projeto)
$verde: #235540;
$cinza-claro: #f5f5f5;
$cinza-texto: #444;
$bordas: 6px;
h1{
    margin: 0px;
}
p {
    margin: 0px;
}
.bread-relato{
    display: flex !important;
    width: 75%;
    max-width: 100%;
    align-content: flex-end;
    flex-direction: row !important;
    text-align: left;
    margin-top: 40px;
    align-items: flex-end;
    align-items: center;
    color: $color--secondary-dark;
    @media ( max-width: 1366px) {
        max-width: 75%;
    }
    @include mobile {
        margin-top: 32px;
    }
}

// Container principal
.relato-grid {
  display: flex;
  gap: 80px;
  padding-top: 32px;
  padding-bottom: 32px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  @include mobile{
    display: flex;
    flex-direction: column;
  }
}

// Imagem destacada
.relato-thumb {
    width: 100%;
    max-width: 503px !important;
    display: flex;
    align-items: center;
  .relato-thumb-wrapper {
    border-radius: 16px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

// Conteúdo do relato
.relato-conteudo {
    display: flex;
    flex-direction: column;


  .relato-titulo {
    color: $color--secondary-dark;
    font-family: 'gabarito';
    font-size:40px;
    font-style: normal;
    font-weight: $font-weight--medium;
    line-height: 120%;
    margin-top: 24px;
    margin-bottom: 24px;
    @include mobile{
        font-size: 24px;    }
  }

  .relato-categoria {
    margin-bottom: 8;

    .badge {
      display: inline-block;
      background: #235540;
      color: white;
      padding: 0.25rem 0.6rem;
      border-radius: $bordas;
      font-size: 0.9rem;
      img {
            width: auto !important;
      }
    }
  }

  .relato-descricao {
    margin-bottom: 8px;
    color: $cinza-texto;
    line-height: 1.6;
    margin-top: 32px;
    margin-bottom: 32px;
    @include mobile{
    margin-top: 16px;
    margin-bottom: 16px;
    }
    p{
        word-break: normal;
        hyphens: auto;

    }
  }

  .relato-info {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    color:$color--secondary-dark;
    li {
      margin-bottom: 0.5rem;
      display: flex;

      strong {
        margin-right: 0.5rem;
      }
    }
  }

}

// Formulário
.formulario-participar {
    display: grid;
    width: 100%;
    max-width: 793px;
    float: right;
    margin-top: 40px;
    padding-bottom: 58px;
    @media ( max-width: 1366px ) {
        width: 61%;
    }
    @include mobile{
        width: auto;
    }
  h2 {
   color: #281414;
    font-family: 'gabarito';
    font-size: var(--Spacing-space-400, 32px);
    font-style: normal;
    font-weight: $font-weight--medium;
    line-height: 120%; /* 38.4px */
    margin-bottom: 12px;
    }

  .form-descricao {
    margin-bottom: 1.5rem;
  }

  .form-participar {
    display: flex;
    flex-direction: column;

    input[type="text"],
    input[type="email"] {
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: $bordas;
      font-size: 1rem;
      width: 100%;
      margin-bottom: 25px;
    }
    p{
        color: var(--Color-Gray-800, #484646);
    /* Label/medium */
    font-family: var(--Typeface-Font-Gabarito, Gabarito);
    font-size: var(--Spacing-space-175, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    }
    .checkbox-aceite {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 14px;
      color: $color--secondary-dark;
      margin-bottom: 27px;
    }

    .botao-confirmar {
    background: $color--primary-pure;
    color: $color--secondary-light;
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-left: 70%;

      &:hover {
        background: darken($verde, 5%);
      }
      @include mobile{
        margin-left: 0px;
      }
    }
  }

}

