.single-acao,
.single {
    .post-header {
        padding-left: size(0);
        padding-right: size(0);
        .breadcrumb{
            margin-top: 72px;
            align-items: center;
            display: flex;
            justify-content: center;
            @include mobile{
                justify-content: initial;
            }
        }
        @include mobile {
            padding-inline: 2rem !important;
        }
        &__title{
            color:$color--primary-pure;
            margin-top: $margin--medium;
            margin-bottom: $margin--medium;
            @include mobile {
                font-size: 24px;
                text-align: start;
            }
        }
        &__excerpt{
            margin-top: $margin--large;
            margin-bottom: 56px;
            color:$color--secondary-dark;
            font-size: 16px !important;
            @include mobile{
                margin-top: $margin--medium;
                margin-bottom: 32px;
                text-align: start;
            }
        }
        &_featured-image{
            @include mobile{
                margin: 16px;
            }
        }
        &__tags{
            align-items: center;
            gap: 16px;
            @include mobile{
            display: flex;
            justify-content: flex-start;
            }
            a{
                display: flex;
                gap: 8px;
                background-color:  $color--primary-pure;
                border-color:  $color--primary-pure;
                color:white;
                align-items: center;
            }
            &__date {
                color:$color--secondary-dark;
                font-size: 1rem;
            }
        }
    }

}
.post-content{
    padding-left: size(0);
    padding-right: size(0);
    @include mobile{
    padding-inline: 2rem;
    }

}
