.page-kit-de-sobrevivencia{
    .column-kit-1{
        gap: 144px;
    }
    .reportar{
        .wp-block-group{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
             height: 219px !important;
            p{
                padding: 0px 20px;
                max-width: unset;
            }
        }
    }
}
