.page-conteudo-sobre-o-lixo {
    .wp-block-columns {
        .hide-on-mobile{
            @media (max-width: 782px) {
                display: none !important;
            }
        }

        .hide-on-desktop {
            @media (min-width: 783px) {
                display: none !important;
            }
        }
    }

    .title-map {
        @include mobile {
            color: #605E5D;
            font-size: 14px;
            font-weight: $font-weight--regular;
            line-height: 130%;
            font-family: $font-family--primary !important;
        }
    }


    .hide-on-desktop{
        @include desktop{
            display: none;
        }
    }
    hr{
        margin: 40px 0px !important;
        height: 2px;
        color: #E6E2E0 !important;
        width: 100%;
        @include mobile{
            margin: 16px 0px !important;
            padding-inline: 1rem;
        }
    }

    .image {
        img {
            @include mobile{
                width: 68px !important;
            }
        }
    }


    .btn-coop > .wp-block-button {

        a{
            display: flex;
            align-items: center;
            padding: 7px 24px !important;
            gap: 8px;
            margin-top: 35px;

            img{
                width: 16px;
                height: 16px;
            }
             &:hover{
                background-color: #32373c !important;
            }

        }
    }
    .btn-apoio > .wp-block-button {
        a{
            display: flex;
            align-items: flex-start;
            gap: 8px;
        }

    }
    .wp-block-spacer{
        @include mobile{
            height: 32px !important;
        }
    }
    h2{
        @include mobile{
            font-size:24px !important;
        }
    }
    .post-content{
        .col-1{
            @include mobile {
                flex-direction: column-reverse;
            }
            .wp-block-column{
               @include mobile{
                    flex-basis: auto !important;
                }
            }
        }
    }


    .slider-mobile {
        display: flex;
        gap: 1rem;
        overflow: visible;

        @include mobile {
            flex-wrap: nowrap !important;
            margin-inline: auto;
            max-width: size(330);
            overflow-x: auto;
            padding-bottom: 1rem;
            scroll-snap-type: x mandatory;
            width: 100%;
            -webkit-overflow-scrolling: touch;

            >.wp-block-column {
                box-sizing: border-box;
                flex: 0 0 80%;
                min-width: 80%;
                scroll-snap-align: start;
            }
        }
    }


    .slider-wrapper-dynamic {
        position: relative;
        max-width: 100%;
        display: flex;
        align-items: center;

        @include mobile{
            margin-top: 0;
        }

        .slider-mobile {
            scroll-behavior: smooth;
        }

        .slider-arrow {
            background-color: $color--secondary-dark;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            padding: 0.75rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;

            svg {
                display: block;
                width: size(16);
                height: size(16);
            }

            &.left {
                left: -0.5rem;
                transform: translateY(-50%) rotate(0deg);
            }

            &.right {
                right: -0.5rem;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        @media (min-width: 768px) {
            .slider-arrow {
                display: none;
            }
        }
    }
}
