.page-conteudo-sobre-o-lixo {
    .wp-block-columns {
        .hide-on-mobile{
            @media (max-width: 782px) {
                display: none !important;
            }
        }

        .hide-on-desktop {
            @media (min-width: 783px) {
                display: none !important;
            }
        }
    }

    .title-map {
        @include mobile {
            color: #605E5D;
            font-size: 14px;
            font-weight: $font-weight--regular;
            line-height: 130%;
            font-family: $font-family--primary !important;
        }
    }


    .hide-on-desktop{
        @include desktop{
            display: none;
        }
    }
    hr{
        margin: 40px 0px !important;
        height: 2px;
        color: #E6E2E0 !important;
        width: 100%;
        @include mobile{
            margin: 16px 0px !important;
            padding-inline: 1rem;
        }
    }

    .image {
        img {
            @include mobile{
                width: 68px !important;
            }
        }
    }


    .btn-coop > .wp-block-button {

        a{
            display: flex;
            align-items: center;
            padding: 7px 24px !important;
            gap: 8px;
            margin-top: 35px;

            img{
                width: 16px;
                height: 16px;
            }
             &:hover{
                background-color: #32373c !important;
            }

        }
    }
    .btn-apoio > .wp-block-button {
        a{
            display: flex;
            align-items: flex-start;
            gap: 8px;
        }

    }
    .wp-block-spacer{
        @include mobile{
            height: 32px !important;
        }
    }
    h2{
        @include mobile{
            font-size:24px !important;
        }
    }
    .post-content{
        .col-1{
            @include mobile {
                flex-direction: column-reverse;
            }
            .wp-block-column{
               @include mobile{
                    flex-basis: auto !important;
                }
            }
        }
    }
}
