.page-kit-de-sobrevivencia {
    .post-content{

        .wp-block-columns:first-child {
            margin-top: 6rem;
            margin-bottom: 6rem;
        }

        .column-kit-1 {
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
        }

        .reportar {
            margin-top: 6rem;
            margin-bottom: 6rem;

            p {
            width: 100%;
            max-width: 45rem;
            }

            .wp-block-columns {
            margin-top: 3.5rem;
                .wp-block-group {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;
                }
            }


        }
        .wp-block-cover{
            margin-top: 40px;
            h2{
                padding-top: 80px;
            }
            p {
                width: 100%;
                max-width: 45rem;
                margin-bottom: 56px;
            }
            .materiais-de-referencia{
                padding-bottom: 96px;
            }
        }

    }
}
