.static-cards {
    margin-bottom: size(80);
    margin-top: size(80);

    @include mobile {
        margin-bottom: $margin--large;
        margin-top: $margin--large;
        padding-inline: $padding--medium;
    }

    .wp-block-heading {
        @include mobile {
            font-size: size(24);
        }
    }

    & > p {
        font-size: $font-size--x-small;
        margin-bottom: size(56);
        max-width: size(677);
    }

    .wp-block-columns {
        justify-content: center;
        gap: 24px;

        @include mobile {
            flex-direction: column;
            align-items: center !important;
            gap: 32px;
        }
    }

    &__content {

        .wp-block-column {
            p {
                margin: unset !important;
            }

            p:nth-child(2) {
                padding: 20px 20px 0;
            }

            p:nth-child(3) {
                padding: 20px;
            }

            .wp-block-image {
                img {
                    padding-top: 20px;
                }
            }
        }
    }

    .wp-block-columns > .wp-block-column > .wp-block-buttons {
        margin-top: auto;
        max-width: 100% !important;
    }

    .wp-block-columns > .wp-block-column {
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        @include mobile{
            width: 100%;
        }

        @media (max-width: size(1400)) {
            flex-basis: size(410) !important;
        }

        .wp-block-spacer{
            @include mobile{
                display: none;
            }
        }

        & > p {
            margin-top: size(8);
        }

        & > p:last-child {
            font-size: $font-size--x-small !important;
            margin-bottom: $margin--medium;

            @include mobile{
                margin-bottom: $margin--medium;
            }
        }
    }

    .wp-block-columns:last-child {

        .wp-block-column > .wp-block-buttons > .wp-block-button {

            & > a {
                display: flex;
                font-size: 16px !important;
                gap: size(8);
                padding: 26px;
                text-decoration: underline;

                @include mobile {
                    font-size: 14px !important;
                    justify-content: flex-end;
                }

                & > img {
                    object-fit: contain;
                }
            }
        }
    }

    &__no-color {
        .wp-block-columns {
            margin-bottom: size(24);
            margin-block-start: size(24);
            gap: size(24) !important;
        }

        .wp-block-columns>.wp-block-column {
            padding: size(20);

            @include mobile {
                top: 0 !important;
            }
        }

        .wp-block-columns:last-child{
            @include mobile {
                gap: size(24) !important;
            }
        }

        .wp-block-columns:last-child>.wp-block-column {
            padding: size(20);
        }
    }
}
