.sub-header{
    background-color: $color--warning-pure;
    display: flex;
    min-height: size( 60 );

    &__icon,
    &__content-left,
    &__content-right{
        align-items: center;
        display: flex;
        gap: size(24);
    }

    &__content-left{
        @include mobile{
            align-items: flex-start;
            flex-direction: column;
            gap: $gap--medium;
        }
    }

    &__content{
        .advertment{
            color: $color--secondary-dark;
            font-size: $font-size--x-small;
        }
    }

    &__container{
        display: flex;
        gap: size(40);
        justify-content: space-between;
        max-width: size(1336);
        margin-inline: auto;
        width: 100%;

        @include mobile{
            gap: 0;
            padding: $padding--medium;
            padding-inline: size(24);
        }
    }

    &__icon{
        &::before{
            content:  url('#{$path--theme}/assets/images/umbrella.png') !important;
            display: block;
            height: size(20);
            width: size(20);
        }

        .warning{
            text-transform: uppercase;
            font-size: $font-size--x-small;
            font-weight: $font-weight--bold;
            line-height: 1.2;
        }
    }

    &__read-more{
        color: $color--secondary-dark;
        font-size: $font-size--x-small;
        font-weight: $font-weight--medium;
        white-space: nowrap;

        @include mobile{
            display: none;
        }
    }

    &__close {
        a {
            text-decoration: none;
            cursor: pointer;
        }
    }

}
