//bloco veja quem chamar da home
.veja-quem-chamar{
    background-color: $color--high-light;
    border-radius: $border-radius--large;
    padding: $padding--medium;

    .wp-block-columns{
        .wp-block-column:nth-child(2){
            p:first-child{
                font-size: $font-size--x-small;
            }

            p{
                font-size: $font-size--xx-small;
                margin-top: 0;
            }
        }

        .wp-block-column:last-child{
            @include mobile{
                border-bottom: 1px solid $color--secondary-light;
            }

            .wp-block-image{
                cursor: pointer;
            }

        }
    }
}
