//bloco veja quem chamar da home
.veja-quem-chamar{
    background-color: $color--high-light;
    border-radius: $border-radius--large;
    padding: $padding--medium;

    .wp-block-columns{
        .wp-block-column:nth-child(2){
            p:first-child{
                font-size: $font-size--x-small;
            }

            p{
                font-size: $font-size--xx-small;
                margin-top: 0;
            }
        }

        .wp-block-column:last-child{
            @include mobile{
                border-bottom: 1px solid $color--secondary-light;
            }

            .wp-block-buttons > .wp-block-button{
                width: size(50);
                height: size(32);

                & > a{
                    padding: 0 !important;
                }
            }

                .wp-block-buttons{
                    @include mobile {
                        position: relative;
                        top: size(-56);
                    }
                }
        }
    }
}
