//bloco veja quem chamar da home
.veja-quem-chamar{
    background-color: $color--high-light;
    border-radius: 20px;
    padding: size(16);

    .wp-block-columns{
        .wp-block-column:nth-child(2){
            p:first-child{
                font-size: 16px;
            }

            p{
                font-size: 14px;
                margin-top: 0;
            }
        }

        .wp-block-column:last-child{
            .wp-block-buttons > .wp-block-button{
                width: size(50);
                height: size(32);

                & > a{
                    padding: 0 !important;
                }
            }

                .wp-block-buttons{
                    @media (max-width: 768px) {
                        position: relative;
                        top: -56px;
                    }
                }
        }
    }
}
