//bloco amarelo da home
.yellow-block{
    padding: size(80) !important;

    .wp-block-columns > .wp-block-column:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;

        p,
        h2{
            color: $color--secondary-dark;
        }

        h2{
            font-size: $font-size--x-large;
        }

        p{
            font-size: $font-size--x-small;
        }

        .wp-block-buttons{
            position: relative;
            top: size(70);
        }

        .wp-block-buttons > .wp-block-button{
            a{
                padding: $padding--small size(20);
                font-size: $font-size--x-small;

                &:hover{
                    border: none;
                    background-color: $color--high-dark !important;
                }
            }
        }
    }
}
