//bloco amarelo da home
.yellow-block{
    padding: size(80) !important;

    @include mobile{
        padding: $padding--medium !important;
    }

    .wp-block-columns{
        @include mobile{
            flex-direction: column-reverse;
        }
    }

    .wp-block-columns > .wp-block-column:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;

        p,
        h2{
            color: $color--secondary-dark;
        }

        h2{
            font-size: $font-size--x-large;

            @include mobile{
                font-size: size(24) !important;
            }
        }

        p{
            font-size: $font-size--x-small;
        }

        .wp-block-buttons{
            position: relative;

            @include mobile{
                top: 0;
                max-width: size(350);
                width: 100%;
            }
        }

        .wp-block-buttons > .wp-block-button{
            @include mobile {
                width: 100%;
            }

            a{
                display: flex;
                font-size: $font-size--x-small;
                gap: $gap--small;
                padding: $padding--small size(20);

                &:hover{
                    border: none;
                    background-color: $color--high-dark !important;
                }

                & > img{
                    object-fit: contain;
                }
            }
        }
    }
}
