.sr-only {
    @include sr-only;
}

.uwy > .userway_buttons_wrapper > .uai{
	right: size(15);

    @media (min-width: size(768)) and (max-width: size(1200)){
        right: size(-13);
        top: size(-53);
    }

	@include mobile{
		right: 0;
        top: size(50);
	}
}

@-moz-document url-prefix() {
  .uwy > .userway_buttons_wrapper > .uai {
    right: 0;
  }
}

.home{
    .uwy > .userway_buttons_wrapper > .uai{

        @include mobile{
            right: 0 !important;
        }
    }
}

.wp-singular,
.archive{
    .uwy > .userway_buttons_wrapper > .uai{
        @include mobile {
            right: size(-15);
        }
    }
}

.page-template-page-dcp-map{
    #app{
        .enabled{
            top: 50% !important;
        }

        .dcp-map-legend-apoio__mobile-btn{
            @include mobile{
               bottom: size(151);
            }
        }
    }
}
