@import '../2-tools/1.mixins';

html {
    scroll-behavior: smooth;

    body {
        overflow-x:  hidden;
        background-color: $color--secondary-light;

        @include mobile {
            margin-top: 0;
        }

        .logged-in & {
            top: 110px;

            &.scrolled {
                top: 32px;
            }
        }



        hr.is-separator {
            background-color: #E6E2E0;
            height: 3px;
            margin: size( 55 ) 0 size( 75 ) 0;
            border: none;
        }



    }

    body.page-conteudo-sobre-o-lixo {

        .wp-block-buttons .wp-block-button__link {
            display: flex;
        }

    }
}
