.button {
    border: $border-width--medium solid transparent;
    border-radius: $border-radius--medium;
    cursor: pointer;
    line-height: $line-height--none;
    padding: $padding--small $padding--medium;
    transition: $transition--default;

    // Styles

    &--solid {
        background-color: var(--hl-button-color, $color--low-pure);
        color: $color--high-pure;

        &:active, &:hover {
            background-color: var(--hl-button-hover-color, $color--low-pure);
        }
    }

    &--outline {
        background-color: $color--high-pure;
        border-color: var(--hl-button-color);
        color: var(--hl-button-color, $color--low-pure);

        &:active, &:hover {
            background-color: $color--high-light;
        }
    }

    // Sizes

    &--large {
        border-radius: $border-radius--large;
        font-size: $font-size--large;
        padding: $padding--medium $padding--large;
    }

    &--small {
        border-radius: $border-radius--small;
        font-size: $font-size--small;
    }

    // Colors

    &--highlight {
        --hl-button-color: #{$color--highlight-pure};
        --hl-button-hover-color: #{$color--highlight-dark};
    }

    &--primary {
        --hl-button-color: #{$color--primary-pure};
        --hl-button-hover-color: #{$color--primary-dark};
    }

    &--secondary {
        --hl-button-color: #{$color--secondary-pure};
        --hl-button-hover-color: #{$color--secondary-dark};
    }

    &--helper {
        --hl-button-color: #{$color--helper-pure};
        --hl-button-hover-color: #{$color--helper-dark};
    }

    &--warning {
        --hl-button-color: #{$color--warning-pure};
        --hl-button-hover-color: #{$color--warning-dark};
    }
}

.risco-btn{
    @media (min-width: size(500)) and (max-width: size(768)) {
       flex-direction: row !important;
    }

    .wp-block-buttons:first-child > .wp-block-button > a{

        &:hover {
            background-color: #7a280c !important;
            color: $color--high-light !important;
        }
    }

    .wp-block-button > a > img:first-child{
        display: none;
    }

    .apoio-btn {
        .wp-block-button {
            &__link {
                color: $color--primary-pure !important;
                border-width: 1px;

                &:hover {
                    box-shadow: 0 0 5px rgba( 0,0,0,0.5 );
                }
            }
        }

    }
}

.mostrar-mais{
    margin-top: size(40);
    margin-bottom: size(128);

    @include mobile{
        margin-top: $margin--large;
        margin-bottom: $margin--large;
        max-width: size(350);
        top: 0;
        width: 100%;
    }

    .wp-block-button{
        @include mobile{
            width: 100%;
        }
    }

    .wp-block-button:nth-child(1) > a{
        &:hover {
            border: none;
            background-color: $color--high-dark !important;
        }
    }

    .wp-block-button:nth-child(2) > a{
        @include mobile{
            width: size(143);
        }

        &:hover {
            border: none;
            background-color: $color--high-dark !important;
        }
    }

    .wp-block-button > a{
        display: flex;
        font-size: $font-size--x-small !important;
        gap: $gap--small;
        padding: size(8) size(20);

        @include mobile{
            padding: $padding--x-small $padding--medium;
        }

        & > img{
            object-fit: contain;
            rotate: 90deg;
        }
    }
}

.ver-mais-acoes{
    background-color: $color--secondary-dark;
    font-weight: $font-weight--medium;
    color: $color--secondary-light;
    display: flex;
    align-items: center;
    gap: $gap--small;
    padding: size( 10 ) $padding--medium;
    border-radius: size( 50 );
    cursor: pointer;

    &::after {
        background-size: contain;
        background-repeat: no-repeat;
        content: url('/wp-content/themes/dcp/assets/images/seta-card-disabled.svg');
        display: inline-block;
        height: 1em;
        width: 1em;
        position: relative;
    }
}

.ver-mais-acoes.disabled {
    background-color: #c9c6c5;
    color: #93908F;
    cursor: not-allowed;
    pointer-events: none;
    &::after {
        background-size: contain;
        background-repeat: no-repeat;
        content: url('/wp-content/themes/dcp/assets/images/icon-disable.png');
        display: inline-block;
        height: 1em;
        width: 1em;
        position: relative;
    }
}

.page-informar-riscos{
    .wp-block-columns > .wp-block-column >  p{
        display: flex;
        gap: $gap--small;

        & > img{
            object-fit: contain;
        }
    }
    .wp-block-columns > .wp-block-column > .wp-block-group > .wp-block-buttons > .wp-block-button > a{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $gap--small;
    }
}

.btn-informar-riscos{
    @include mobile{
        display: flex;
        flex-direction: column;
        gap: $gap--small !important;
    }
}

.saiba-mais-text {
    color: $color--secondary-dark;
    font-family: $font-family--primary;
    font-size: size(14);
    font-weight: $font-weight--regular;
    line-height: 1.2;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
