.button {
    border: $border-width--medium solid transparent;
    border-radius: $border-radius--medium;
    cursor: pointer;
    line-height: $line-height--none;
    padding: $padding--small $padding--medium;
    transition: $transition--default;

    // Styles

    &--solid {
        background-color: var(--hl-button-color, $color--low-pure);
        color: $color--high-pure;

        &:active, &:hover {
            background-color: var(--hl-button-hover-color, $color--low-pure);
        }
    }

    &--outline {
        background-color: $color--high-pure;
        border-color: var(--hl-button-color);
        color: var(--hl-button-color, $color--low-pure);

        &:active, &:hover {
            background-color: $color--high-light;
        }
    }

    // Sizes

    &--large {
        border-radius: $border-radius--large;
        font-size: $font-size--large;
        padding: $padding--medium $padding--large;
    }

    &--small {
        border-radius: $border-radius--small;
        font-size: $font-size--small;
    }

    // Colors

    &--highlight {
        --hl-button-color: #{$color--highlight-pure};
        --hl-button-hover-color: #{$color--highlight-dark};
    }

    &--primary {
        --hl-button-color: #{$color--primary-pure};
        --hl-button-hover-color: #{$color--primary-dark};
    }

    &--secondary {
        --hl-button-color: #{$color--secondary-pure};
        --hl-button-hover-color: #{$color--secondary-dark};
    }

    &--helper {
        --hl-button-color: #{$color--helper-pure};
        --hl-button-hover-color: #{$color--helper-dark};
    }

    &--warning {
        --hl-button-color: #{$color--warning-pure};
        --hl-button-hover-color: #{$color--warning-dark};
    }
}

.risco-btn{
    .wp-block-buttons:first-child > .wp-block-button > a{

        &:hover {
            background-color: #7a280c !important;
            color: $color--high-light !important;
        }
    }

    .wp-block-buttons:last-child > .wp-block-button > a {

        &:hover {
            border-color: $color--secondary-dark !important;
            background-color: #93908F !important;
            color: $color--secondary-dark !important;
        }
    }
}

.mostrar-mais{
    margin-bottom: size(128);

    @include mobile{
        margin-top: $margin--large;
        margin-bottom: $margin--large;
        max-width: size(350);
        top: 0;
        width: 100%;
    }

    .wp-block-button{
        @include mobile{
            width: 100%;
        }
    }

    .wp-block-button:nth-child(2) > a{
        @include mobile{
            width: size(143);
        }
    }

    .wp-block-button > a{
        display: flex;
        font-size: $font-size--x-small !important;
        gap: $gap--small;
        padding-bottom: size(10);
        padding-top: size(10);

        @include mobile{
            padding: $padding--x-small $padding--medium;
        }

        & > img{
            object-fit: contain;
        }
    }
}

.ver-mais-acoes{
    background-color: $color--secondary-dark;
    color: $color--secondary-light;
    display: flex;
    align-items: center;
    gap: $gap--small;
    padding: size(10) $padding--medium;
    border-radius: calc($border-radius--large * 5) !important;
    font-weight: $font-weight--medium;
    &::after {
        background-size: contain;
        background-repeat: no-repeat;
        content: url('/wp-content/themes/dcp/assets/images/icon-down.png');
        display: inline-block;
        height: 1em;
        width: 1em;
        position: relative;
    }
}

.ver-mais-acoes.disabled {
    background-color: #c9c6c5;
    color: #93908F;
    cursor: not-allowed;
    pointer-events: none;
    &::after {
        background-size: contain;
        background-repeat: no-repeat;
        content: url('/wp-content/themes/dcp/assets/images/icon-disable.png');
        display: inline-block;
        height: 1em;
        width: 1em;
        position: relative;
    }
}
