@use 'sass:math';

.content {
    $breakpoint--wide: $grid--wide + 2 * $padding--large;
    $breakpoint--normal: $grid--normal + 2 * $padding--medium;

    display: block;
    max-width: 100%;
    width: 100vw;

    & > :not(.alignfull) {
        margin-inline: auto;
        max-width: 100%;
        padding-inline: $padding--large;
    }

    @media (max-width: $breakpoint--normal) {

        & > :not(.alignfull) {
            padding-inline: $padding--medium;
        }
    }

    &--normal {

        & > * {
            width: $grid--normal;
        }
    }

    &--wide {

        & > * {
            width: $grid--wide;
        }
    }

    .aligncenter, .alignwide, .alignfull {
        clear: both;
    }

    .aligncenter {
        clear: both;
        width: $grid--normal;
    }

    .alignwide {
        width: $grid--wide;
    }

    .alignfull {
        width: 100%;
    }

    .alignleft, .alignright {
        width: math.div($grid--wide - $grid--normal, 2);
    }

    .alignleft {
        float: left;

        @media (min-width: $breakpoint--wide) {
            margin-inline-start: calc(50vw - #{math.div($grid--wide, 2)});
            padding-inline-end: 0;
        }
    }

    .alignright {
        float: right;

        @media (min-width: $breakpoint--wide) {
            margin-inline-end: calc(50vw - #{math.div($grid--wide, 2)});
            padding-inline-start: 0;
        }
    }
}
