.form-field {

    & > * {
        display: block;
    }

    &:has(.checkbox, .radio) {
        align-items: center;
        display: flex;
        gap: $gap--small;
    }

    &__label {
        order: 1;
    }
}

.text-input, .select {
    background-color: $color--high-pure;
    border: $border-width--small solid $color--high-dark;
    color: $color--low-pure;
    border-radius: $border-radius--medium;
    line-height: $line-height--none;
    padding: $padding--small $padding--medium;

    &--disabled, &--readonly {
        background-color: $color--high-light;
    }

    &--disabled {
        cursor: not-allowed;
    }

    &--error {
        background-color: color-mix(in lab, $color--high-pure 75%, $color--warning-light);
        border-color: $color--warning-light;
    }
}

.checkbox, .radio {
    accent-color: $color--primary-pure;
    transform: scale(1.125);

    &--disabled, &--readonly {
        accent-color: $color--high-dark;
    }

    &--disabled {
        cursor: not-allowed;
    }

    &--error {
        accent-color: $color--warning-pure;
    }
}

.wpcf7{
    &-list-item{
        margin-left: 0 !important;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: size(24);

        .btn-submit{
            display: flex;
            justify-content: flex-end;

            @include mobile{
                max-width: size(350);
                width: 100%;
            }

            & > p{
                @include mobile{
                    width: 100%;
                }
            }
        }

        .custom-submit-button {
            align-items: flex-end;
            background-color: $color--primary-pure;
            color: $color--high-light;
            border: none;
            border-radius: size(100);
            cursor: pointer;
            display: flex;
            font-size: $font-size--x-small;
            gap: $gap--x-small;
            height: size(40);
            padding: 10px 16px 10px 10px;
            transition: background-color 0.3s ease;

            @include mobile{
                padding-inline: size(104);
                width: 100%;
            }
        }

        .custom-submit-button .icon {
            width: size(16);
            height: size(16);
            position: relative;
            bottom: size(3);
            stroke: $color--high-light;
        }

        label{
            color: $color--low-light;
            font-size: $font-size--xx-small;
            font-weight: $font-weight--regular;


            .wpcf7-form-control-wrap > .wpcf7-form-control{
                border: 1px solid $color--low-light;
                border-radius: size(12);
                height: size(48);
                max-width: size(676);
                padding: $padding--medium;
                width: 100%;
            }
        }
    }
}

.form-layout{
    display: flex;
    gap: $gap--large;
    justify-content: space-evenly;
    margin-inline: auto;
    max-width: $grid--wide;
}

.formulario-risco{
    margin-bottom: $margin--large*4;
    margin-top: $margin--large*2;

    @include mobile{
        margin-bottom: $margin--large;
        margin-top: $margin--large;
    }
}

.multistepform{
    border-top: size(2) solid #E6E2E0;
    padding-top: size(40);
    margin-top: size(40);
    width: size(772);

    @include mobile{
        width: 100%;
    }

    &__accept{
        align-items: center;
        display: flex;
        font-size: $font-size--xx-small;
        gap: $gap--x-small;
        padding-left: $padding--small;
    }

    &__button{
        text-decoration: none;
        padding-inline: $padding--medium;
        padding-bottom: size(10);
        padding-top: size(10);

        &-backmapa{
            border: size(1) solid $color--secondary-dark;
            border-radius: size(100);
            color: $color--secondary-dark;
        }

        &-edit{
            border: size(1) solid $color--warning-dark;
            border-radius: size(100);
            color: $color--warning-dark;
            display: flex;
            gap: $gap--small;
            padding-bottom: $padding--small;
            padding-top: $padding--small;
        }

        &-map{
            align-items: center;
            background-color: transparent;
            border-radius: $border-radius--large*5;
            border: size(2) solid $color--secondary-dark;
            display: flex;
            gap: $gap--small;
            justify-content: center;
        }

        &-more-risk{
            align-items: center;
            background-color: $color--warning-dark;
            border-radius: size(100);
            color: $color--high-light;
            display: flex;
            gap: $gap--small;
        }

        &-next{
            align-items: center;
            border-radius: size(100);
            background-color: $color--secondary-dark;
            color: $color--high-light;
            display: flex;
            flex-direction: row-reverse;
            gap: size(10);
        }

        &-submit{
            flex-direction: row !important;
            gap: $gap--small;
            height: size(40);
        }
    }

    &__buttons{
        display: flex;
        justify-content: space-between;
        margin-bottom: $margin--large;

        .back-to-map{
            cursor: pointer;
            font-size: $font-size--x-small;
            font-weight: $font-weight--medium;
            text-decoration: underline;
        }

        &-success{
            gap: $gap--medium;
            justify-content: flex-start !important;
        }
    }

    &__checkbox-group {
        display: flex;
        gap: $gap--x-small;
        flex-wrap: wrap;
    }

    &__checkbox-label {
        background-color: transparent;
        border: size(2) solid $color--secondary-dark;
        border-radius: size(999);
        display: inline-block;
        font-weight: $font-weight--medium;
        padding: 0.5rem 1.2rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $color--high-light;
        }
    }

    &__checkbox-option {
        cursor: pointer;
        display: inline-block;
        position: relative;
    }

    &__checkbox-option input[type="checkbox"] {
        display: none;
    }

    &__description{
        display: flex;
        gap: $gap--small;
        margin-bottom: $margin--medium;
        margin-top: $margin--medium;
    }

    &__excerpt{
        font-size: $font-size--x-small;
        font-weight: $font-weight--regular;
    }

    &__fields{
        display: flex;
        flex-direction: column;
        gap: $gap--medium;
        justify-content: center;

        textarea
        ,input{
            background-color: $color--high-light;
            border: size(1) solid $color--secondary-dark;
            border-radius: $border-radius--small*2;
            max-width: size(752);
            padding-inline: $padding--medium;
            padding-bottom: $padding--medium/2;
            padding-top: $padding--medium/2;
            width: 100%;
        }

        .or{
            text-align: center;
        }
    }

    &__header{
        &-success{
            p{
                margin-bottom: $margin--small;
            }
        }
    }

    &__label{
        color: $color--low-light;
        font-size: $font-size--xx-small;
        padding-left: $padding--small;
    }

    &__input{
        display: flex;
        flex-direction: column;
    }

    &__pipe{
        color: #E6E2E0;
    }

    &__location,
    &__risk,
    &__review-item{
        align-items: center;
        display: flex;
        gap: $gap--small;
    }

    &__review-item{
        max-width: size(550);
        width: 100%;
    }

    &__review-tag {
        align-items: center;
        background-color: $color--warning-dark;
        border-radius: size(999);
        color: $color--high-light;
        display: inline-flex;
        font-size: $font-size--xxx-small;
        gap: $gap--x-small;
        padding: $padding--x-small $padding--small;
    }

    &__title{
        font-family: $font-family--secondary;
        font-size: size(24);
        font-weight: $font-weight--medium;

        &-success{
            color: $color--warning-dark;
            font-size: size(40);
            margin-bottom: $margin--small;
        }
    }

    &__upload-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap--medium;
        margin-bottom: $margin--large;
    }

    &__upload-button,
    &__no-media-button {
        align-items: center;
        border: size(2) solid transparent;
        border-radius: size(999);
        cursor: pointer;
        display: flex;
        gap: $gap--x-small;
        justify-content: center;
        padding: size(10) $padding--medium;
        text-align: center;
        transition: background-color 0.2s ease-in-out;
        width: 100%;
    }

    &__upload-button {
        background-color: $color--warning-dark;
        color: $color--high-light;
    }

    &__upload-button:hover {
        background-color: #a2371a;
    }

    &__no-media-button {
        background-color: transparent;
        border: size(1) solid $color--secondary-dark;
        color: $color--secondary-dark;
    }

    &__no-media-button:hover {
        background-color: $color--high-light;
    }

    &__upload-or {
        font-weight: $font-weight--medium;
        color: $color--secondary-dark;
    }
}

.multistepform__checkbox-option input[type="checkbox"]:checked + .multistepform__checkbox-label {
    background-color: $color--high-light ;
}
