.form-field {

    & > * {
        display: block;
    }

    &:has(.checkbox, .radio) {
        align-items: center;
        display: flex;
        gap: $gap--small;
    }

    &__label {
        order: 1;
    }
}

.text-input, .select {
    background-color: $color--high-pure;
    border: $border-width--small solid $color--high-dark;
    color: $color--low-pure;
    border-radius: $border-radius--medium;
    line-height: $line-height--none;
    padding: $padding--small $padding--medium;

    &--disabled, &--readonly {
        background-color: $color--high-light;
    }

    &--disabled {
        cursor: not-allowed;
    }

    &--error {
        background-color: color-mix(in lab, $color--high-pure 75%, $color--warning-light);
        border-color: $color--warning-light;
    }
}

.checkbox, .radio {
    accent-color: $color--primary-pure;
    transform: scale(1.125);

    &--disabled, &--readonly {
        accent-color: $color--high-dark;
    }

    &--disabled {
        cursor: not-allowed;
    }

    &--error {
        accent-color: $color--warning-pure;
    }
}

.wpcf7{
    &-list-item{
        margin-left: 0 !important;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 24px;

        .btn-submit{
            display: flex;
            justify-content: flex-end;
        }

        .custom-submit-button {
            align-items: flex-end;
            background-color: $color--primary-pure;
            color: $color--high-light;
            border: none;
            border-radius: 100px;
            cursor: pointer;
            display: flex;
            font-size: 16px;
            gap: 4px;
            height: 40px;
            padding: 10px 16px 10px 10px;
            transition: background-color 0.3s ease;
        }

        .custom-submit-button .icon {
            width: 16px;
            height: 16px;
            position: relative;
            bottom: 3px;
            stroke: $color--high-light;
        }

        label{
            color: $color--low-light;
            font-size: 14px;
            font-weight: $font-weight--regular;


            .wpcf7-form-control-wrap > .wpcf7-form-control{
                border: 1px solid $color--low-light;
                border-radius: 12px;
                height: 48px;
                max-width: 676px;
                padding: 16px;
                width: 100%;
            }
        }
    }
}
