.form-field {

    & > * {
        display: block;
    }

    &:has(.checkbox, .radio) {
        align-items: center;
        display: flex;
        gap: $gap--small;
    }

    &__label {
        order: 1;
    }
}

.text-input, .select {
    background-color: $color--high-pure;
    border: $border-width--small solid $color--high-dark;
    color: $color--low-pure;
    border-radius: $border-radius--medium;
    line-height: $line-height--none;
    padding: $padding--small $padding--medium;

    &--disabled, &--readonly {
        background-color: $color--high-light;
    }

    &--disabled {
        cursor: not-allowed;
    }

    &--error {
        background-color: color-mix(in lab, $color--high-pure 75%, $color--warning-light);
        border-color: $color--warning-light;
    }
}

.checkbox, .radio {
    accent-color: $color--primary-pure;
    transform: scale(1.125);

    &--disabled, &--readonly {
        accent-color: $color--high-dark;
    }

    &--disabled {
        cursor: not-allowed;
    }

    &--error {
        accent-color: $color--warning-pure;
    }
}

.wpcf7{
    &-list-item{
        margin-left: 0 !important;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: size(24);

        .btn-submit{
            display: flex;
            justify-content: flex-end;

            @include mobile{
                max-width: size(350);
                width: 100%;
            }

            & > p{
                @include mobile{
                    width: 100%;
                }
            }
        }

        .custom-submit-button {
            align-items: flex-end;
            background-color: $color--primary-pure;
            color: $color--high-light;
            border: none;
            border-radius: size(100);
            cursor: pointer;
            display: flex;
            font-size: $font-size--x-small;
            gap: $gap--x-small;
            height: size(40);
            padding: 10px 16px 10px 10px;
            transition: background-color 0.3s ease;

            @include mobile{
                padding-inline: size(104);
                width: 100%;
            }
        }

        .custom-submit-button .icon {
            width: size(16);
            height: size(16);
            position: relative;
            bottom: size(3);
            stroke: $color--high-light;
        }

        label{
            color: $color--low-light;
            font-size: $font-size--xx-small;
            font-weight: $font-weight--regular;


            .wpcf7-form-control-wrap > .wpcf7-form-control{
                border: 1px solid $color--low-light;
                border-radius: size(12);
                height: size(48);
                max-width: size(676);
                padding: $padding--medium;
                width: 100%;
            }
        }
    }
}

.form-layout{
    display: flex;
    gap: $gap--large;
    justify-content: space-evenly;
    margin-inline: auto;
    max-width: $grid--wide;
}

.formulario-risco{
    margin-top: $margin--large*2;
}

.multistepform{
    border-top: size(2) solid #E6E2E0;
    padding-top: size(40);
    margin-top: size(40);
    width: size(772);

    @include mobile{
        width: 100%;
    }

    &__button{
        text-decoration: none;
        padding-inline: $padding--medium;
        padding-bottom: size(10);
        padding-top: size(10);

        &-map{
            background-color: transparent;
            border-radius: $border-radius--large*5;
            border: size(2) solid $color--secondary-dark;
            display: flex;
            justify-content: center;
        }

        &-next{
            align-items: center;
            border-radius: size(100);
            background-color: $color--secondary-dark;
            color: $color--high-light;
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
        }
    }

    &__buttons{
        display: flex;
        justify-content: space-between;

        .back-to-map{
            cursor: pointer;
            font-size: $font-size--x-small;
            font-weight: $font-weight--medium;
            text-decoration: underline;
        }
    }

    &__excerpt{
        font-size: $font-size--x-small;
        font-weight: $font-weight--regular;
    }

    &__fields{
        display: flex;
        flex-direction: column;
        gap: $gap--medium;
        justify-content: center;

        input{
            background-color: $color--high-light;
            border: size(1) solid $color--secondary-dark;
            border-radius: $border-radius--medium;
            max-width: size(752);
            padding-inline: $padding--medium;
            padding-bottom: $padding--medium/2;
            padding-top: $padding--medium/2;
            width: 100%;
        }

        .or{
            text-align: center;
        }
    }

    &__label{
        color: $color--low-light;
        font-size: $font-size--xx-small;
    }

    &__title{
        font-family: $font-family--secondary;
        font-size: size(24);
        font-weight: $font-weight--medium;
    }
}
