.pagination > .nav-links {
    @extend .pagination__nav-links;

    & > .prev {
        @extend .pagination__previous;
    }

    & > .next {
        @extend .pagination__next;
    }

    & > .page-numbers:is(a, span) {
        @extend .pagination__number;
    }

    & > .current {
        @extend .pagination__number--current;
    }
}

.wp-block-cover {
    &__inner-container {
        margin-inline: auto;
        max-width: $grid--wide;
        padding-inline: $padding--large;
        width: 100%;

        @include mobile{
            padding-inline: $padding--small;
        }
    }
}


.wp-block-separator{
    color: #E6E2E0 !important;

    @include mobile{
        margin-bottom: $margin--large;
        margin-top: $margin--large;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.wp-block-buttons{
    @include mobile{
        max-width: size(350);
        width: 100%;
    }
}

.wp-block-buttons > .wp-block-button{
    @include mobile {
        max-width: size(350);
        width: 100%;
    }

    & > a{
        @include mobile{
            justify-content: center;
            width: 100%;
        }
    }
}
.page-rede-de-apoio {
    hr{
        margin-left: 2rem !important;
        margin-right: 2rem !important;
        @media (max-width:1366px) {
            margin-left: 1.5rem;
            margin-right: 2.5rem;
        }
    }
}
