@import '../../../assets/scss/includes';

.hacklabr-posts-grid-block {
    display: grid;
    gap: $gap--medium;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    width: 100%;

    @include tablet {
        grid-template-columns: 1fr 1fr !important;
    }

    @media (min-width: size(500)) and (max-width: size(768)) {
        grid-template-columns: 1fr 1fr !important;
        display: grid !important;
    }

    @include mobile {
        grid-template-columns: 1fr;
    }
}
